<template>
  <div id="multi-autocomplete">

    <div class="search-container">
      <label class="search-label">{{title}} {{(required) ? '*' : ''}}</label>
      <input
        class="search-input"
        v-on:focus="dropdown = true; searchValue();"
        v-on:blur="hideDropdown()"
        v-model="search"
        v-on:input="searchValue()"
      />
      <ul v-if="resultValue && resultValue.length" class="choosen">
        <li v-for="item in resultValue">
          <span class="label">{{item.text}}</span>
          <span class="remove-btn" v-on:click="remove(item)">✕</span>
        </li>
      </ul>
    </div>
    <div v-if="(dropdown && filtered.length) || (dropdown && !search)" class="dropdown-container">
      <ul class="dropdown">
        <li
          v-for="item in filtered"
          v-on:click="add(item)"
        >
          <span>{{item.text}}</span>
        </li>
      </ul>
    </div>
  </div>

</template>
<script src="./index.js"></script>
