#multi-autocomplete{
  position: relative;
  max-width: 450px;
}
#multi-autocomplete .search-label{
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  margin-bottom: 5px;
}
#multi-autocomplete .choosen{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 5px;
}
#multi-autocomplete .choosen li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  flex-grow: 1;
  background-color: #7d57c2;
  color: #fff;
  border-radius: 4px;
  padding: 4px 8px;
  margin: 0px 2px 2px 0px;
}
#multi-autocomplete .choosen li span.label{
  font-size: 12px;
}
#multi-autocomplete .choosen li span.remove-btn{
  background: #efefef;
  width: 12px;
  height: 12px;
  font-size: 12px;
  border-radius: 2px;
  padding: 2px 3px;
  font-weight: lighter;
  line-height: 12px;
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
  color: #000;
}

#multi-autocomplete .search-input{
  width: calc(100% - 20px);
  max-width: 450px;
  height: 35px;
  margin: 0px;
  outline: none;
  background: #efefef;
  border-radius: 5px;
  padding: 0px 10px;
  border: 1px solid #ced1da;
}

#multi-autocomplete .search-container{
  padding: 10px;
  border: 1px solid #ced1da;
  border-radius: 5px;
  box-sizing: border-box;
}

#multi-autocomplete .dropdown-container{
  position: absolute;
  z-index: 200;
  height: 150px;
  width: calc(100% - 22px);
  overflow: scroll;
  background-color: #efefef;
  border: 1px solid #ced1da;
  border-radius: 5px;
  margin: -5px 0px 0px 0px;
  left: 11px;
  top: 71px;
  border-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
#multi-autocomplete .dropdown-container .dropdown{
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
#multi-autocomplete .dropdown li{
  display: block;
  padding: 4px 10px;
  font-size: 13px;
  cursor: pointer;
}
#multi-autocomplete .dropdown li:hover{
  background-color: #ddd;
}
#multi-autocomplete .dropdown li span{}
