<template>
  <div>
    <div class="b-main-section user-page__main-section js-events">
      <div v-for="item in events">
        <event-product-item-horizontal :key="item.id" v-if="item.entity_type === 'product'"  v-bind:product="item" v-on:removeProduct="getEvents()"></event-product-item-horizontal>

        <event-news-item-horizontal    :key="item.id" v-if="item.entity_type === 'news' && item.entity.type === 'news'"   v-bind:news="item"></event-news-item-horizontal>

        <event-action-item-horizontal  :key="item.id" v-if="item.entity_type === 'news' && item.entity.type === 'action'" v-bind:action="item"></event-action-item-horizontal>
      </div>

      <paginate
        v-if="total > per_page"
        :page-count="lastPage"
        :initial-page="current_page"
        :click-handler="paginatorAction"
        :prev-text="'Назад'"
        :next-text="'Вперёд'"
        :container-class="'pagination'"
        :page-class="'page-item'"
      ></paginate>
    </div>
  </div>
</template>
<script src="./index.js"></script>
