<template>
  <div id="js-product-filters" class="b-sidebar b-product-filters">
    <form v-on:submit.prevent="filter()"  action="" method="GET" class="b-catalog-filters" name="filters">
      <!-- Категории -->
      <div class="catalog-filters__subcategoties">
        <span class="filter-block__filter-title">Подкатегории</span>
        <br><br>
        <!-- Список категорий -->
        <ul class="scrollbar">

          <!-- Ссылка на родительскую категорию -->
          <li v-if="currentCategory && currentCategory.parent_category_id" class="subcategoties__item">
            <router-link :to="{name:'categoryProductList', params: {category_id: currentCategory.parent_category_id}}">&larr; Назад</router-link>
          </li>

          <!-- Ссылка на главную категорию -->
          <li v-if="currentCategory.id && !currentCategory.parent_category_id" class="subcategoties__item">
            <router-link :to="{name:'mainProductList'}">&larr; Назад</router-link>
          </li>

          <!-- Список категорий -->
          <li v-if="viewCategories && viewCategories.length" v-for="category in viewCategories" class="subcategoties__item">
            <router-link :to="{name:'categoryProductList', params: {category_id: category.id}}">{{category.name}}</router-link>
          </li>
        </ul>
      </div>

      <!-- Свойства (фильтры) товаров -->
      <div v-for="property in properties" v-if="properties && properties.length && property.choices && property.choices.length"  class="catalog-filters__filter-block grey-rounded-border">

        <!-- Заголовок свойства -->
        <input :id="'property-' + property.id" v-model="propertyToggler[property.id]" class="collapse-toggle" type="checkbox" />
        <label :for="'property-' + property.id" class="collapse-label">
          <div class="filter-block__filter-title">{{property.name}}</div>
          <span class="collapse-icon chevron-down-icon"></span>
          <span class="collapse-icon chevron-up-icon"></span>
        </label>

        <!-- Доступные значения свойства -->
        <ul class="filter-block__options-list collapse-expand scrollbar">
          <li v-for="(choice, i) in property.choices" class="filter-block__filter-option">
            <label :for="'chouce-' + choice.id" class="checkbox-block checkbox-label">
              <span>{{choice.name}}</span>
              <input
                type="checkbox"
                v-model="filterValue[property.code]"
                v-on:change="changeFilter()"
                :id="'chouce-' + choice.id"
                :name="property.code"
                :value="choice.code"
              />
              <div class="checkbox_indicator"></div>
            </label>
          </li>
        </ul>
      </div>

      <!-- Кнопки фильтрации и сброса -->
      <div v-if="showFilter" class="catalog-filters__action-buttons">
        <input type="hidden" name="action" value="setFilters" />
        <button class="button button_bordered-light" id="js-filter-sumbit"  type="submit">Применить</button>
        <a class="chosen-filters__reset-button" v-on:click="clearFilter()">Сбросить</a>
      </div>

    </form>
  </div>
</template>
<script src="./index.js"></script>
<style>
  .chosen-filters__reset-button{
    cursor: pointer;
  }
</style>
