<template>
  <div class="view" id="view-home">
    <div class="b-main-page" style="max-width: 1200px; margin: 0 auto;">
    </div>
  </div>
</template>
<script>
  export default {
    name: 'home',
    data () {
      return {}
    },
    created:  function() {},
    computed: {}
  }
</script>
