<template>
  <div class="view" id="view-home">
    <h1>Test view</h1>
    <router-link :to="{name: 'Home'}">Home</router-link>
  </div>
</template>
<script>
  export default {
    name: 'test',
    data () {
      return {}
    },
    created:  function(){
      console.log('test');
    },
  }
</script>
