<template>
    <form class="authorization-block__form" action="#" method="POST" v-on:submit="submit">
      <label class="input-label">Почта</label>
      <input
        v-model="from.email"
        id="email"
        class="input-form"
        name="email"
        type="text"
        autocomplete=""
        autofocus
        required
        v-validate="rules.email"
      />
      <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>

      <label class="input-label">Пароль</label>
      <input
        v-model="from.password"
        id="password"
        class="input-form"
        name="password"
        type="password"
        autocomplete=""
        required
        v-validate="rules.password"
      />
      <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>

      <button class="button authorization-block__button" type="submit" value="auth" name="action">Войти</button>
      <router-link :to="{name:'Remind'}" class="registration-block__sublink">Забыли свой пароль?</router-link>

    </form>
</template>
<script src="./index.js"></script>
