<template>
  <div class="b-main-section user-page__main-section">
    <product-list-settings v-on:change="getProducts()"></product-list-settings>

    <ul v-if="products && products.length">
      <product-item v-for="product in products" :view-type="viewType" :key="product.id" :product="product" v-on:removeProduct="getProducts()"></product-item>
    </ul>
    <span v-if="!products.length" class="system-message">У вас еще нет товаров.</span>

    <paginate
      v-if="total > per_page"
      :page-count="lastPage"
      :initial-page="current_page"
      :click-handler="paginatorAction"
      :prev-text="'Назад'"
      :next-text="'Вперёд'"
      :container-class="'pagination'"
      :page-class="'page-item'"
    ></paginate>

  </div>
</template>
<script src="./index.js"></script>
