<template>
  <div class="product-buy__action-buttons">
      <button v-if="owner" class="action-button action-buttons__edit-product" data-tooltip="Редактировать">
        <router-link :to="{name: 'ProductEdit', params:{category_id: categoryId, product_id: productId}}">
          <img src="./../../assets/img/edit-product-icon.png"/>
        </router-link>
      </button>
      <button v-if="owner" v-on:click="remove(productId)" class="action-button action-buttons__delete-product" data-tooltip="Удалить товар">
        <img src="./../../assets/img/delete-product-icon.png"/>
      </button>


      <product-action-add-to-cart v-if="!owner" :sku-id="skuId"></product-action-add-to-cart>
      <button v-if="!owner" class="action-buttons__to-favourites action-button js-add-to-favorites" data-tooltip="Добавить в избранное">
        <i class="fa fa-heart" aria-hidden="true"></i>
      </button>
  </div>
</template>
<script src="./index.js"></script>
