<template>
  <div v-if="product" class="events-page__event js-event">
        <div class="events-page__event-label">
          <span class="event-label__event-type">Новый товар</span>
          <span class="event-label__event-date"></span>
        </div>
        <ul class="">
          <li class="user-events__product-card b-product-card grey-rounded-border list-view">

            <!-- Изображение товара -->
            <div class="product-card__product-image">
              <a href="" :title="product.entity.name">
                <img v-if="!product.entity.default_sku || !product.entity.default_sku.hero_image" src="./../../assets/img/no_image.jpg" />
                <img v-if="product.entity.default_sku && product.entity.default_sku.hero_image" :src="product.entity.default_sku.hero_image.path" />
              </a>
              <div v-if="product.entity.public == 1" class="news-card__promo-badge"><span>Модерация</span></div>
            </div>
            <!-- Информация о товаре -->
            <div class="product-card__product-info">

              <!-- Название товара -->
              <div class="product-info__product-name">
                <a href="" title="">{{product.entity.name}}</a>
              </div>

              <!-- Категории товара -->
              <div v-if="product.entity.category && product.entity.category.length" class="product-info__product-category">
                {{product.entity.category.map(item => item.name).join(', ')}}
              </div>


              <!-- Информация о покупке -->
              <div class="product-info__product-buy">

                <product-action-bar
                  :owner="product.entity.owner"
                  :product-id="product.entity.id"
                  :category-id="product.entity.category[0]['id']"
                  v-on:remove="removeProduct()"
                ></product-action-bar>

                <!-- Информация о цене -->
                <div class="product-buy__info" v-if="product.entity.default_sku">
                  <div class="info__price">
                    <span v-if="product.entity.default_sku.price">
                      {{product.entity.default_sku.price}}
                      <i class="fa fa-rub" aria-hidden="true"></i>
                    </span>
                    <span v-if="!product.entity.default_sku.price">Бесплатно</span>
                  </div>
                  <div class="info__star-rating b-star-rating">
                    <!-- include 'templates/'.TEMPLATE.'/blocks/star-rating.tpl'; -->
                  </div>
                </div>

                <!-- Описание товара -->
                <div class="product-info__product-description" v-if="product.entity.default_sku">
                  <a href="" title="" v-html="product.entity.default_sku.description">
                    {{product.entity.default_sku.description}}
                  </a>
                </div>

              </div>

            </div>

            <!-- Информация о продавце -->
            <div v-if="product.company" class="product-card__seller-info">
              <span class="seller-info__seller-name">
                <a href="">
                  <img class="seller-info__seller-image" src="./../../assets/img/no_image.jpg" />{{product.company.name}}
                </a>
              </span>
              <span class="seller-info__contact-seller">
                  <a href=""><img src="./../../assets/img/chat-icon.png" /></a>
              </span>
            </div>


          </li>
        </ul>
      </div>
</template>
<script src="./index.js"></script>
