<template>
  <div class="remind-password__content">
    <div class="remind-password__block">
      <h2 class="remind-password__title">Напомнить пароль</h2>
      <form-remind></form-remind>
    </div>
  </div>
</template>
<script src="./index.js"></script>
