<template>
  <div id="page-product-edit" class="b-edit-product-page page-content limited-width">

    <!-- Хлебные крошки -->
    <breadcrumbs ref="breadcrumbs"></breadcrumbs>
    <div id="tabbler">
      <div class="tab-container">
        <div class="tab-wrapper">

          <!-- Таб редактирования основных параметров товара -->
          <input type="radio" name="tab" id="tab1" checked />
          <label class="tab-label" for="tab1">Товар</label>
          <div   class="tab-item" id="tab-content1">
            <form-update-product ref="form-product" v-model="product"></form-update-product>
          </div>

          <!-- Таб редактирования торговых предложений товара -->
          <input v-if="productId && productId !== 'new'" type="radio" name="tab" id="tab2" />
          <label v-if="productId && productId !== 'new'" class="tab-label" for="tab2">Торговые предложения</label>
          <div   v-if="productId && productId !== 'new'" class="tab-item" id="tab-content2">
            <form-product-sku ref="form-sku" :product-id="productId" :categories="product.categories"></form-product-sku>
          </div>

          <!-- Таб редактирования остатков товара -->
          <input v-if="productId && product && product.company_id" type="radio" name="tab" id="tab3" />
          <label v-if="productId && product && product.company_id" class="tab-label" for="tab3">Остатки</label>
          <div   v-if="productId && product && product.company_id" class="tab-item" id="tab-content3">
            <form-product-remnants :product-id="productId" :company-id="product.company_id"></form-product-remnants>
          </div>

        </div>
      </div>
    </div>





  </div>
</template>
<script src="./index.js"></script>
<style>
  #page-product-edit #tabbler{
    width:100%;
  }
  #page-product-edit .tab-wrapper{
    width: 100%;
    overflow-x: visible;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: sans-serif;
  }
  #page-product-edit .tab-wrapper .tab-item,
  #page-product-edit .tab-wrapper input[type="radio"]{display: none;}
  #page-product-edit .tab-wrapper .tab-item{
    background-color: #fff;
    width: calc(100% - 40px);
    max-width: 100%;
    padding: 20px;
    order: 1;
  }
  #page-product-edit .tab-wrapper label.tab-label{
    height: 35px;
    line-height: 35px;
    min-width: 50px;
    padding: 0px 20px;
    text-align: center;
    float: left;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-bottom: 2px solid #7e57c2;
    cursor: pointer;
  }

  #page-product-edit .tab-wrapper input:checked + label.tab-label{
    color: #fff;
    border-radius: 5px;
    background-color: #7e57c2;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: not-allowed;
  }
  #page-product-edit .tab-wrapper input:checked + label.tab-label + .tab-item{display: block;}
  #page-product-edit .form-item label.input-label{
    display: block;
  }
</style>
