<template>
  <div v-if="action" class="events-page__event js-event">
    <div class="events-page__event-label">
      <span class="event-label__event-type">Добавлена акция</span>
      <span class="event-label__event-date"></span>
    </div>
    <div class="news-blocks__news-card b-news-card grey-rounded-border js-open-news list-view">
      <div class="news-card__image">
        <img v-if="!action.entity || !action.entity.hero_image" src="./../../assets/img/no_image.jpg" />
        <img v-if="action.entity && action.entity.hero_image" :src="action.entity.hero_image.path" />
      </div>

      <div class="news-card__info">
        <div class="info__headline">{{action.entity.title}}</div>
        <div class="info__content">{{action.entity.content}}</div>
        <div v-if="action.company && action.company.name" class="info__company-name">{{action.company.name}}</div>
      </div>
      <div class="news-card__logo-badge">
        <img src="./../../assets/img/no_image.jpg" />
      </div>

      <div v-if="action.entity.to_date" class="news-card__timer-badge">
        <img src="./../../assets/img/clock.png"/>
        <span>до {{  moment(action.entity.to_date).format("HH:mm DD.MM.YYYY")}}</span>
      </div>

      <div v-if="action.entity.moderate == 0" class="news-card__news-badge" style="background-color: gray;">
        <span>Снята с публикации</span>
      </div>
      <div v-if="action.entity.moderate == 1" class="news-card__news-badge">
        <span>Опубликована</span>
      </div>
      <div v-if="action.entity.moderate == 2" class="news-card__news-badge" style="background-color: red;">
        <span>На модерации</span>
      </div>
      <div v-if="action.entity.moderate == 3" class="news-card__news-badge">
        <span>Отклонена модератором</span>
      </div>

    </div>
  </div>
</template>
<script src="./index.js"></script>
