<template>
  <div class="b-shopping-cart page-content limited-width">
    <breadcrumbs></breadcrumbs>

    <div class="shopping-cart__seller-block js-seller">

      <!-- Информация о продавце -->
      <div class="seller-block__seller-info">
        <div class="seller-block__seller-name">Корзина</div>
      </div>

      <!-- Визуализация пагинации блоков оформления заказа -->
      <div class="seller-block__block-pagination">
        <div class="block-pagination__paginator colored-paginator">1</div>
        <div class="block-pagination__paginator"><div class="paginator__bridge"></div>2</div>
        <div class="block-pagination__paginator"><div class="paginator__bridge"></div>3</div>
        <div class="block-pagination__paginator"><div class="paginator__bridge"></div>4</div>
      </div>

      <!-- Форма с товарами -->
      <form-cart-products></form-cart-products>

    </div>


  </div>
</template>
<script src="./index.js"></script>
