<template>
  <nav class="header__main-menu">
    <div class="limited-width">
      <ul class="main-menu__categories-list">
        <span class="main-menu__hamburger-icon">
          <img src="./../../assets/img/burger.png"/>
        </span>
        <li v-for="category in categories" data-submenu-id="cat-<?=$item['alias']?>" class="categories-list__main-category">

          <router-link class="main-category__name-link" :title="category.self.name" :to="{name: 'categoryProductList', params: {category_id: category.self.id}}">
            <span class="chevron-down-icon"></span>{{category.self.name}}
          </router-link>

          <div class="main-category__submenu" v-if="category.child && category.child.length">
            <span class="submenu__triangle"></span>
            <ul class="submenu__categories-list">
              <li v-for="child in category.child" class="submenu__category">
                <router-link :title="child.self.name" :to="{name: 'categoryProductList', params: {category_id: child.self.id}}">
                  <span class="chevron-right-icon"></span>{{child.self.name}}
                </router-link>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</template>
<script src="./index.js"></script>
