<template>
  <form class="registration-block__form" action="#" method="POST" v-on:submit="submit">
    <label class="input-label">Почта</label>
    <input
      v-model="form.email"
      id="email"
      class="input-form"
      name="email"
      type="text"
      autocomplete=""
      autofocus
      required
      v-validate="rules.email"
    />
    <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>

    <label class="input-label">Придумайте пароль</label>
    <input
      v-model="form.password"
      id="password"
      class="input-form"
      name="password"
      type="password"
      autocomplete=""
      required
      v-validate="rules.password"
    />
    <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>


    <label class="input-label">Повторите пароль</label>
    <input
      v-model="form.password_confirm"
      id="password_confirm"
      class="input-form"
      name="password_confirm"
      type="password"
      autocomplete=""
      required
      v-validate="rules.password_confirm"
    />
    <span v-show="errors.has('password_confirm')" class="help is-danger">{{ errors.first('password_confirm') }}</span>

    <div class="registration-block__info">Регистрируясь, Вы соглашаетесь с условиями
      <a class="registration-block__link" target="_blank" href="/documents/terms-of-use/">пользовательского соглашения</a> и
      <a class="registration-block__link" target="_blank" href="/documents/privacy-policy/">политикой конфиденциальности</a>,
      а также с <a class="registration-block__link" target="_blank" href="/media/dogovor-publichnoy-oferty.pdf">договором публичной офертой</a>

      <label class="registration-block__checkbox checkbox-block checkbox-label">
        <input type="checkbox" checked id="js-offer-agree" name="regcheck" v-validate="rules.check"/>
        <div class="checkbox_indicator"></div>
      </label>
      <br/><br/>
      <span v-show="errors.has('regcheck')" class="help is-danger">{{ errors.first('regcheck') }}</span>
    </div>

    <div class="registration-block__button">
      <button class="button" value="registration" name="action" id="js-registration-button" type="submit">Регистрация</button>
    </div>

  </form>
</template>
<script src="./index.js"></script>
