<template>
  <div class="b-display-settings">
    <!-- Сортировка представлений -->
    <div class="display-settings__display-filter b-selection">
      <span class="display-settings__title input-label">Выводить:</span>
      <button class="selection__box-button js-toggle-selection" type="button" data-toggle="dropdown" aria-expanded="true" v-on:click="toggleSortTypes()" >
        <span class="selection__current-option">{{(sortTypes[sortType]) ? sortTypes[sortType]['label'] : 'Сортировка' }}</span>
        <i aria-hidden="true" data-hidden="true" class="fa fa-chevron-down"></i>
      </button>

      <ul v-if="showSort" class="selection__options-list js-selection-list">
        <li
          v-for="(item, code) in sortTypes"
          v-on:click="changeSortType(code)"
          :class="'selection__chosen-option' + (sortType === code) ? 'selection__option' : ''"
          :target="code"
        >{{item.label}}</li>
      </ul>
    </div>

    <!-- Выбор представления товаров -->
    <div class="display-settings__display-filter b-display-type">
      <span class="display-settings__title input-label">Показать:</span>
      <button
        v-for="(icon, type) in viewTypes"
        v-on:click="changeViewType(type)"
        :class="'display-type__action-button js-display-' + type"
        :disabled="(viewType === type)"
      ><i :class="'fa ' + icon" aria-hidden="true"></i></button>
    </div>
  </div>
</template>
<script src="./index.js"></script>
