<template>
  <router-view></router-view>
  <!--
  <div class="view b-user-page b-user-events-page page-content limited-width clearfix" id="view-user">
    <breadcrumbs></breadcrumbs>

    <user-page-navigation></user-page-navigation>

    <user-page-sidebar></user-page-sidebar>

    <user-page-events></user-page-events>
  </div>
  -->
</template>
<script src="./index.js"></script>
