<template>
  <div>
    <div v-if="show" id="js-modal-form" class="b-modal-form modal-form_buy">
      <div class="modal-form__header">
        <button v-on:click="show = false" class="modal-close-button js-modal-close">×</button>
        <span id="js-modal-title" class="modal-form__title">{{AddTitle}}</span>
      </div>
      <div v-if="cart.products && Object.keys(cart.products).length" v-for="item in cart.products">
        <div v-if="item.product && item.sku" id="js-product-info" class="buy-form__info">
          <div class="buy-form__product-image">
            <img v-if="item.sku.hero_image" id="js-product-image" :src="item.sku.hero_image.path">
            <img v-if="!item.sku.hero_image" id="js-product-image" src="./../../assets/img/no_image.jpg">
        </div>
          <div class="buy-form__product-info">
            <span id="js-product-name" class="buy-form__product-name">{{item.sku.name}}</span>
          </div>
          <div class="buy-form__product-price">{{item.price + ' руб.'}}</div>
          <div class="buy-form__product-quantity">{{item.amount + ' шт.'}}</div>
          <div class="buy-form__total-price">{{item.full_price + ' руб.'}}</div>
        </div>
      </div>

      <div class="modal-form__footer">
        <a v-on:click="show = false; $router.push({name: 'Cart'});" class="button button_bordered-light">Оформить заказ</a>
        <button class="button modal-footer__button js-modal-close" v-on:click="show = false">Продолжить покупки</button>
      </div>
    </div>
    <div v-if="show" v-on:click="show = false" id="js-overlay" class="overlay"></div>
  </div>
</template>
<script src="./index.js"></script>
<style>
  #js-overlay,
  .b-modal-form{
    display: block;
    opacity: 1;
  }
  .b-modal-form.modal-form_buy #js-product-image{
    max-height: 60px;
    max-width: 60px;
  }
  .b-modal-form.modal-form_buy {
    height: auto;
    min-height: 280px;
    max-height: 100vh;
    overflow-y: scroll;
    font-family: Proxima Nova Semibold, sans-serif;
    margin-top: -140px;
  }
</style>
