<template>
  <div id="component-update-product">
      <div class="product-item-list">

        <div class="form-item">
          <label class="input-label" for="product-name">Наименование товара*</label>
          <input v-model="product.name" id="product-name" class="input-form" type="text" name="name" placeholder="Введите наименование товара" required/>
          <span v-show="errors.has('name')" class="help is-danger">{{ errors.first('name') }}</span>
        </div>

        <div class="form-item">
          <label class="input-label" for="product-code">Символьный код товара*</label>
          <input v-model="product.code" id="product-code" class="input-form" type="text" name="code" placeholder="Введите символьный код товара" required/>
          <span v-show="errors.has('code')" class="help is-danger">{{ errors.first('code') }}</span>
        </div>

        <div class="form-item">
          <label class="input-label" for="product-code">Сортировка товара*</label>
          <input v-model="product.sort" id="product-sort" class="input-form" type="number" name="sort" placeholder="Сортировка товара" required/>
          <span v-show="errors.has('sort')" class="help is-danger">{{ errors.first('sort') }}</span>
        </div>

        <div v-if="statuses" class="form-item">
          <label class="input-label" for="product-code">Статус товара*</label>
          <div class="select-block">
            <select v-model="product.public" name="public" class="select-form" id="product-public">
              <option v-for="(label, value) in statuses" :value="value">{{label}}</option>
            </select>
          </div>
          <span v-show="errors.has('code')" class="help is-danger">{{ errors.first('public') }}</span>
        </div>

        <div v-if="companies && companies.length" class="form-item">
          <label class="input-label" for="product-company">Компания товара*</label>
          <div class="select-block">
            <select v-model="product.company_id" name="company_id" class="select-form" id="product-company">
              <option v-for="company in companies" :value="company.id">{{company.name}}</option>
            </select>
          </div>
          <span v-show="errors.has('company_id')" class="help is-danger">{{ errors.first('company_id') }}</span>
        </div>

        <div class="form-item">
          <multi-autocomplete
            v-model="product.categories"
            :values="categories"
            title="Категории товара"
            required="true"
          ></multi-autocomplete>
        </div>

        <div class="form-item">
          <multi-autocomplete
            ref="discounts"
            v-model="product.discounts"
            :values="discounts"
            title="Скидки на товар"
            required="true"
          ></multi-autocomplete>
        </div>
      </div>

      <div class="action-container">
        <a class="save-product" v-on:click="saveProduct()">Сохранить</a>
        <a class="remove-product" v-on:click="removeProduct()">Удалить</a>
      </div>
  </div>
</template>
<script src="./index.js"></script>
<style>

  #component-update-product .product-item-list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #component-update-product .product-item-list .form-item{
    width: 100%;
    margin: 0px 0px 10px 0px;
  }

  #component-update-product .save-product,
  #component-update-product .remove-product{
    font-size: 13px;
    background-color: #7d57c2;
    border: 1px solid #7d57c2;
    color: #fff;
    border-radius: 5px;
    display: table;
    padding: 8px 14px;
    cursor: pointer;
  }
  #component-update-product .remove-product{
    background-color: #fff;
    color: #7d57c2;
    margin-left: 10px;
  }
  #component-update-product .action-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  @media (min-width: 768px) {
    #component-update-product .product-item-list .form-item{
      width: calc(50% - 30px);
    }
  }
</style>
