<template>
  <div v-if="resultValue" id="component-form-product-sku">
    <p v-if="resultValue && !resultValue.length">Торговые предложения ещё не созданы</p>

    <div v-if="resultValue && resultValue.length" class="sku-list">
      <div v-for="(item, i) in resultValue" :class="'sku-item ' + ((parseInt(item.default)) ? 'default-sku' : '')">
        <h4 class="sku-item-label" v-on:click="toggleSku(i)">
          {{(i + 1) + '. '}} {{(item.name) ? ((parseInt(item.default)) ? item.name + ' (по умолчанию)' : item.name) : 'Введите название торгового предложения' }}
        </h4>

        <div v-show="item.show" class="sku-item-content">
          <div class="form-item">
            <label class="input-label" for="sku-name">Наименование торгового предложения*</label>
            <input v-model="item.name" id="sku-name" class="input-form" type="text" name="name" placeholder="Введите наименование СКУ" required/>
            <span v-show="errors.has('name')" class="help is-danger">{{ errors.first('name') }}</span>
          </div>

          <div class="form-item">
            <label class="input-label" for="sku-code">Сивольный код торгового предложения*</label>
            <input v-model="item.code" id="sku-code" class="input-form" type="text" name="code" placeholder="Введите символьный код СКУ" required/>
            <span v-show="errors.has('code')" class="help is-danger">{{ errors.first('code') }}</span>
          </div>

          <div v-if="skuStatuses" class="form-item">
            <label class="input-label" for="sku-status">Статус торгового предложения*</label>
            <div class="select-block">
              <select v-model="item.status" name="public" class="select-form" id="sku-status">
                <option v-for="(label, value) in skuStatuses" :value="value">{{label}}</option>
              </select>
            </div>
            <span v-show="errors.has('code')" class="help is-danger">{{ errors.first('public') }}</span>
          </div>

          <div class="form-item">
            <editor v-model="item.description" :id="i"></editor>
          </div>

          <div class="form-item">
            <label class="input-label" for="sku-code">Цена торгового предложения*</label>
            <input v-model="item.price" id="sku-price" class="input-form" type="number" name="price" placeholder="Введите цену СКУ" required/>
            <span v-show="errors.has('price')" class="help is-danger">{{ errors.first('price') }}</span>
          </div>

          <input v-model="item.default" id="sku-default" class="input-form" type="hidden" name="default" required/>

          <div class="form-item">
            <label class="input-label" for="sku-code">Сортировка торгового предложения*</label>
            <input v-model="item.sort" id="sku-sort" class="input-form" type="number" name="sort" placeholder="Сортировка СКУ" required/>
            <span v-show="errors.has('sort')" class="help is-danger">{{ errors.first('sort') }}</span>
          </div>

          <input-file
            v-model="item.hero_image"
            :entity="item"
            v-on:remove="removeSkuHeroImage"
          ></input-file>

          <input-property
            v-if="item.id"
            :ref="'properties-' + i"
            :sku-id="item.id"
            :categories="categories"
            v-model.sync="propertiesValues[item.id]"
          ></input-property>


          <div class="action-container">
            <a class="save-sku" v-on:click="saveSku(item, i)">Сохранить</a>
            <a class="remove-sku" v-if="!parseInt(item.default)" v-on:click="removeSkU(item)">Удалить</a>
          </div>

        </div>
      </div>
    </div>

    <a class="add-sku" v-on:click="addSku()">Добавить торговое предложение</a>
  </div>
</template>
<script src="./index.js"></script>
<style>

  #component-form-product-sku .sku-list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #component-form-product-sku .sku-list .sku-item-label{
    margin: 0px;
    cursor: pointer;
  }
  #component-form-product-sku .sku-list .sku-item-content{
    border-top: 1px solid #7d57c2;
    padding-top: 10px;
    margin-top: 10px;
  }
  #component-form-product-sku .sku-list .sku-item{
    width: 100%;
    margin: 0px 0px 10px 0px;
    border: 1px solid #7d57c2;
    border-radius: 5px;
    padding: 10px;
  }
  #component-form-product-sku .sku-list .sku-item.default-sku{
    background-color: #f6f6f6;
  }

  #component-form-product-sku .add-sku,
  #component-form-product-sku .save-sku,
  #component-form-product-sku .remove-sku{
    font-size: 13px;
    background-color: #7d57c2;
    border: 1px solid #7d57c2;
    color: #fff;
    border-radius: 5px;
    display: table;
    padding: 8px 14px;
    cursor: pointer;
  }
  #component-form-product-sku .remove-sku{
    background-color: #fff;
    color: #7d57c2;
    margin-left: 10px;
  }
  #component-form-product-sku .action-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  @media (min-width: 768px) {
    #component-form-product-sku .sku-list .sku-item{
      width: calc(50% - 30px);
    }
  }
</style>
