<template>
  <nav class="user-page__navigation">
    <ul>
      <router-link :to="{name: 'UserEvents'}">
        <li :class="'user-page__navigation-item tab-link js-tab' + (($route.name  === 'UserEvents') ? ' tab-link-current' : '' )">События</li>
      </router-link>
      <router-link :to="{name: 'UserProducts'}">
        <li :class="'user-page__navigation-item tab-link js-tab' + (($route.name  === 'UserProducts') ? ' tab-link-current' : '' )">Товары</li>
      </router-link>


      <a href="/users/reviews">
        <li  :class="'user-page__navigation-item tab-link js-tab' + (($route.name === 'UserReviews') ? ' tab-link-current' : '' )">Отзывы</li>
      </a>
      <a href="/users/delivery">
        <li  :class="'user-page__navigation-item tab-link js-tab' + (($route.name === 'UserDelivery') ? ' tab-link-current' : '' )">Доставка</li>
      </a>
    </ul>
  </nav>
</template>
<script src="./index.js"></script>
