.pagination{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.pagination li a{
  display: block;
  border: 1px solid #7d57c2;
  border-left: 0px;
  padding: 4px 10px;
  font-size: 12px;
  outline: none !important;
}
.pagination li:first-child a{
  border-left: 1px solid #7d57c2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.pagination li:last-child a{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.pagination .page-item.active a{
  background-color: #7d57c2;
  color: #fff;
}
.pagination .disabled a{

}


.checkbox-list-container{
  padding: 10px 15px;
}
.checkbox-list-container .checkbox-label{
  font-size: 14px;
}

.form-item{
  width: 100%;
  max-width: 450px;
  margin-bottom: 10px;
}

.form-item span.help{
  display: block;
  font-size: 12px;
  margin-top: -8px;
}

