/*

  Structure:                            Resolutions:
    - Common styles                       - 320px
    - Interface elements                  - 480px
    - Header                              - 600px
    - Footer
    - Sidebar block + main section block
    - Modals
    - Product card block
    - Main page
    - Registration/Authorization page + Remind password page
    - Search page
    - Products catalog page
    - Product card page
    - Cart page
    - Support page
    - Documents page
    - News page
    - Users/Companies search page
    - User page
    - Company page
    - User photo page
    - 404 page
    - Add product page (old version)
    - Edit product page (old version)
    - Comparison page
    - Media Queries
*/

@font-face {
  font-family: Proxima Nova Regular;
  src: url('./../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff');
}
@font-face {
  font-family: Proxima Nova Semibold;
  src: url('./../fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff');
}
@font-face {
  font-family: Proxima Nova Bold;
  src: url('./../fonts/ProximaNova/ProximaNova-Bold.woff') format('woff');
}

body {
  color: #354052;
  font-family: Proxima Nova Regular, sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
}
.limited-width {
  width: 300px;
  margin: 0 auto;
}
.page-content {/*убрать/заменить для других страниц*/
  padding: 55px 0 40px 0;
}
.grey-rounded-border {
  border: 1px solid #ced1da;
  border-radius: 10px;
}
.system-message {
  font-family: Proxima Nova Semibold, sans-serif;
  font-size: 16px;
}

input::-webkit-input-placeholder       {opacity: 1; transition: opacity .3s ease;}/*плавное появление/исчезновения placeholder текста*/
input::-moz-placeholder                {opacity: 1; -moz-transition: opacity .3s ease; color: #ced1da;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity .3s ease;}

input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity .3s ease;}
input:focus::-moz-placeholder          {opacity: 0; -moz-transition: opacity .3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity .3s ease;}

/*interface elements*/
.alert {/*вынести в элементы интерфейса*/
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.alert_attention {
  background-color: #7e57c2;
}
.alert_notice {
  background-color: #d0c4e8;
}

.alert > div {
  display: inline-block;
  vertical-align: middle;
}

.alert__text-block {
  width: 87%;
  font-size: 12px;
  line-height: 1.4;
}

.alert__notice-icon,
.alert__attention-icon,
.alert__close-icon {
  width: 5%;
}

.alert__close-icon {
  font-size: 20px;
  color: #f3eff9;
  text-align: right;
}

.alert__notice-icon {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f3eff9;
  color: #d0c4e8;
  text-align: center;
  padding: 2px;
  box-sizing: border-box;
  font-size: 11px;
  line-height: .5;
}

.alert__attention-icon {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #f3eff9;
  color: #7e57c2;
  text-align: center;
  padding: 3px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: .5;
}
.alert-close {
  display: inline-block;
  width: 20px;
  float: right;
  background: transparent none repeat scroll 0 0;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  text-transform: none;
  line-height: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: medium none;
  box-sizing: content-box;
  vertical-align: middle;
  overflow: visible;
  opacity: .3;
}

.b-star-rating {/*звёздный рейтинг*/
  font-family: Proxima Nova Semibold, sans-serif;
  font-size: 10px;
  color: #f7971c;
}
.star-rating__numeric-value {
  font-family: Proxima Nova Bold, sans-serif;
  font-size: 12px;
}
.b-star-rating .fa {
  margin-top: 1px;
  margin-right: 2px;
}
.star-rating__label {
  background-color: #f7991c;
  font-size: 11px;
  color: #fff;
  padding: 0 10px 1px;
  border-radius: 10px;
}

.button {/*Основная кнокпа, фиолетовая, с белым текстом, остальные кнопкки - это модификации этой и добавляются вместе с этим классом*/
  background-color: #7e57c2;
  color: #fff;
  font-family: Proxima Nova Semibold, sans-serif;
  font-size: 14px;
  padding: 10px 40px;
  border-radius: 40px;
  border: none;
  outline: none;
}
.button:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.button_light {
  background-color: #d0c4e8;
}
.button_blue {
  background-color: #4254a0;
}
.button_bordered-light {
  background: transparent;
  color: #354052;
  padding: 11px 17px;
  border: 1px solid #ced1da;
}
.button_bordered-dark {
  background: transparent;
  color: #354052;
  padding: 10px 15px;
  border: 1px solid #354052;
}
.button_thick-bordered {/*кнокпка в футере*/
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  color: #ced1da;
  padding: 8px 20px;
  border: 2px solid #ced1da;
}

.collapse-toggle {/*collapse block*/
  display: none;
}
.collapse-expand {
  height: 0;
  overflow: hidden;
  transition: .1s linear;
  overflow-y: auto;
}
.collapse-toggle:not(:checked) ~ .collapse-expand {
  display: none;
  transition: .01s linear;
}
.collapse-toggle:checked ~ .collapse-expand {
  display: block;
  height: 200px;
  transition: .1s linear;
}
.collapse-icon {
  float: right;
}
.collapse-label .chevron-down-icon {
  display: inline-block;
}
.collapse-label .chevron-up-icon {
  display: none;
}
.collapse-toggle:checked ~ .collapse-label .chevron-down-icon {
  display: none;
}
.collapse-toggle:checked ~ .collapse-label .chevron-up-icon {
  display: inline-block;
}

.input-label {
  color: #66778c;
  font-size: 14px;
}
.input-form {
  width: 100%;
  height: 35px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ced1da;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}
.input-form_short {
  width: 49%;
}

.select-block {/*используетсяли вообще?*/
  width: 100%;
  position: relative;
  margin: 10px 0;
}
.select-block:after {
  content: '';
  display: block;
  position: absolute;
  right: 8px;
  top: 12px;
  width: 14px;
  height: 10px;
  background: url("/templates/2gid_new/img/icon-arrow.svg") no-repeat center center;
  pointer-events: none;
  z-index: 1;
}
.select-form {/*?*/
  width: 100%;
  height: 35px;
  background-color: #fff;
  color: #354052;
  font-family: Proxima Nova Semibold, sans-serif;
  padding: 0 25px 0 10px;
  border: 1px solid #ced1da;
  border-radius: 5px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.textarea {
  width: 100%;
  font-family: Proxima Nova Regular, sans-serif;
  padding: 10px;
  border: 1px solid #ced1da;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  resize: none;
}

.input-form:focus,
.textarea:focus {
  border-color: #7e57c2;
}

.required {
  border-color: #ed1c24;
}

.file-upload {
	width: 220px;
	position: relative;
	height: 32px;
	font-size: 14px;
  font-family: Proxima Nova Semibold, sans-serif;
  line-height: 1.42857143;
  border: 1px solid #ced1da;
  border-radius: 5px;
  overflow: hidden;
}
.file-upload:after {
	content: "Обзор";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #d0c4e8;
	padding: 6px 25px;
}
.file-upload:active:after {
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.file-upload:before {
	content: attr(data-text);
	display: block;
	width: 120px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 6px 12px;
	background-color: #fff;
}
.file-upload input {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: 99;
}

.b-breadcrumbs {
  display: none;
}

.b-display-settings {
  width: 100%;
  height: 50px;
}
.b-display-type {
  display: none;
}
.b-selection {
  display: inline-block;
  position: relative;
}
.selection__title {
  position: relative;
  bottom: 5px;
  margin-right: 20px;
  font-family: Proxima Nova Semibold, sans-serif;
}
.selection__box-button {
  width: 185px;
  background-color: #fff;
  font-size: 11px;
  font-family: Proxima Nova Semibold, sans-serif;
  padding: 10px 15px;
  border: 1px solid #ced1da;
  border-radius: 5px;
  outline: none;
}
.selection__box-button:active {
  border: 1px solid #354052;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .075);
}
.selection__box-button i {
  float: right;
  margin-top: 3px;
}
.selection__current-option {
  float: left;
  color: #354052;
  font-size: 14px;
  margin-right: 5px;
}
.selection__options-list {
  width: 185px;
  background-color: #fff;
  top: 36px;
  right: 0;
  position: absolute;
  border: 1px solid #ced1da;
  box-sizing: border-box;
  z-index: 3;
}
.selection__options-list > li {
  font-size: 14px;
  padding: 10px 15px;
}
.selection__chosen-option {
  font-family: Proxima Nova Semibold, sans-serif;
}
.selection__chosen-option span {
  margin-left: 5px;
}
.b-pagination {
  text-align: center;
  margin: 25px 10px;
}
.pagination__link {
  display: inline-block;
  color: #868686;
  margin-right: -1.92%;
  border: 1px solid #ced1da;
}
.pagination__link a {
  display: block;
  width: 35px;
  height: 35px;
  padding: 7px 0;
  text-align: center;
  box-sizing: border-box;
}
.pagination__link_prev {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.pagination__link_next {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.pagination__link:not(.pagination__link_disabled):active,
.pagination__link_active {
  color: #354052;
  font-family: Proxima Nova Bold, sans-serif;
}
.pagination__link_disabled {
  width: 35px;
  height: 37px;
  padding: 7px 0;
  color: #ced1da;
  text-align: center;
  box-sizing: border-box;
}

.checkbox-block {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 5px;
  padding-top: 3px;
  font-size: 16px;
  color: #7f8fa4;
}
.checkbox-block input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.checkbox_indicator {
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 1px solid #ced1da;
  border-radius: 5px;
}

.checkbox-block input:checked ~ .checkbox_indicator {
  background-color: #7e57c2;
  border-radius: 5px;
  border-color: #7e57c2;
}
.checkbox_indicator:after {
  content: '';
  display: none;
  position: absolute;
  box-sizing: unset;
}
.checkbox-block input:checked ~ .checkbox_indicator:after {
  display: block;
}
.checkbox-label .checkbox_indicator:after {
  left: 5px;
  top: 2px;
  width: 3px;
  height: 7px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.scrollbar::-webkit-scrollbar-track {/*scrollbar*/
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  border-radius: 10px;
  background-color: transparent;
}
.scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #7e57c2;
  opacity: .6;
}

.chevron-down-icon:before {
  content: '';
  display: inline-block;
  width: .31em;
  height: .3em;
  position: relative;
  top: 5px;
  color: inherit;
  border-width: .13em .13em 0 0;
  border-style: solid;
  margin-right: 5px;
  transform: rotate(135deg);
  vertical-align: top;
}

.chevron-up-icon:before {
  content: '';
  display: inline-block;
  position: relative;
  top: 8px;
  width: .31em;
  height: .3em;
  color: inherit;
  margin-right: 5px;
  border-width: .13em .13em 0 0;
  border-style: solid;
  transform: rotate(-45deg);
  vertical-align: top;
}

.required-field,
.required-field:focus { /*поменять?*/
  border: 1px solid #ed1c24;
}

/*owl-carousel*/
.owl-dots {
  width: 85px;
  margin: 0 auto;
  padding-bottom: 3px;
}
.owl-dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  vertical-align: middle;
  background-color: #d0c4e8;
  margin: 0 5px;
  border-radius: 50%;
}
.owl-dot.active {
  background-color: #7e57c2;
}

/*header*/
.b-header {
  width: 100%;
  position: fixed;
  background-color: #354052;
  color: #fff;
  height: 50px;
  padding: 10px;
  box-sizing: border-box;
  z-index: 3;
  border-bottom: 2px solid #2c374b;
  box-shadow: 0 1px 0 rgba(239, 239, 239, .06);
  transition: .4s ease-in-out;
}
.b-header.opened-header-menu {
  border-bottom-color: #354052;
  transition: .1s ease-in-out;
}
.b-header.opened-header-menu ~ .b-footer {
  z-index: 3;
}
.b-header.opened-header-menu ~ .b-footer .footer__mobile-block {
  border-top: 1px solid #c1c9d6;
  transition-delay: .15s;
}
.header__top-bar,
.header__main-headline,
.header__main-menu,
.header__change-location {
  display: none;
}
.header__mobile-headline > div {
  display: inline-block;
}
.mobile-headline__catalog-menu {
  width: 10%;
}
.mobile-menu__hamburger-icon img {
  margin-top: 3px;
}
.mobile-menu__catalog {
  display: none;
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #354052;
  color: #fff;
  font-family: Proxima Nova Semibold, sans-serif;
  padding: 15px 25px;
  overflow: scroll;
  box-sizing: border-box;
}
.catalog__search {
  width: 80%;
  margin-bottom: 80px;
}
.b-search-form {
  width: 100%;
  position: relative;
}
.search-form__input-aria {
  width: 100%;
  border: none;
  border-radius: 40px;
  padding: 8px 15px;
  outline: none;
  box-sizing: border-box;
}
.search-form__search-submit {
  position: absolute;
  top: 4px;
  right: 6px;
  background-color: transparent;
  border: none;
  outline: none;
}
.categories-list__main-category {
  margin: 10px 0;
}
.main-category__submenu {
  display: none;
  width: 100%;
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 0;
  background-color: #354052;
  padding: 0 25px;
  box-sizing: border-box;
}
.submenu__categories-list {
  margin-bottom: 70px;
}
.submenu__categories-list li {
  margin: 10px 0;
}
.submenu__categories-list li.submenu__close {
  margin: 5px 0 20px;
}
.mobile-headline__shopping-cart,
.mobile-headline__compare-products {
  position: relative;
  width: 10%;
  float: right;
}
.mobile-headline__compare-products {
  margin-right: 10px;
}
.shopping-cart__icon {
  position: relative;
  top: 2px;
}
.compare-products__icon {
  position: relative;
  top: 6px;
}
.count-badge {
  width: 16px;
  height: 16px;
  position: absolute;
  top: -5px;
  left: -10px;
  font-family: Proxima Nova Semibold, sans-serif;
  font-size: 12px;
  text-align: center;
  border-radius: 50%;
  padding: 4px 3px 2px;
}
.shopping-cart__count-badge {
  background-color: #7e57c2;
  color: #fff;
}
.compare-products__count-badge {
  background-color: #d0c4e8;
  color: initial;
}

/*footer*/
.b-footer {
  width: 100%;/*Убрать?*/
  position: fixed;
  bottom: 0;
  z-index: 2;
}
.b-footer.opened-footer-menu {
  top: 50px;
}
.footer__mobile-block {
  width: 100%;
  height: 35px;
  position: absolute;
  bottom: 0;
  background-color: #354052;
  color: #c1c9d6;
  padding: 5px;
  box-sizing: border-box;
  border-top: 1px solid #354052;
  z-index: 1;
}
.footer__mobile-block > div {
  display: inline-block;
  width: 18.9%;
  height: 25px;/*убрать*/
  font-size: 20px;/*убрать*/
  text-align: center;/*убрать?*/
}
.mobile-block__profile-menu,
.footer__mobile-menu {
  display: none;
  width: 100%;
  height: 90vh;
  position: absolute;
  bottom: 35px;
  background-color: #354052;
  color: #fff;
  border-bottom: 1px solid #3c4556;
  overflow: scroll;
}
.useful-info__for-customers,
.useful-info__for-sellers,
.useful-info__docs {
  border-bottom: 2px solid #414d5d;
  padding: 20px;
}
.useful-info__for-customers {
  padding-top: 55px;
}
.footer__header {
  font-family: Proxima Nova Bold, sans-serif;
  font-size: 20px;
}
.useful-info__list-of-links {
  margin-top: 15px;
}
.list-of-links__link,
.account-menu__link {
  font-family: Proxima Nova Semibold, sans-serif;
  font-size: 14px;
  margin: 10px 0;
}
.useful-info__payments {
  display: none;
}
.footer__about-2gid {
  position: relative;
  padding: 20px;
}
.about-2gid__logo {
  width: 100px;
  position: absolute;
  bottom: 20px;
}
.about-2gid__logo img {
  width: 100%;
}
.about-2gid__about-us {
  margin-bottom: 60px;
}
.about-us__content {
  font-family: Proxima Nova Semibold, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 25px;
}
.account-block__account-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  float: left;
  overflow: hidden;
}
.account-block__account-image img {
  width: 100%;
}
.account-block__account-name {
  display: inline-block;
  max-width: 140px;
  font-size: 17px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.account-block__location-pin {
  display: inline-block;
  width: 110px;
  overflow: hidden;
  color: #ccc;
}
.profile-menu__account-block,
.profile-menu__account-menu,
.profile-menu__company-block {
  padding: 0 20px 20px;
  text-align: left;
}
.profile-menu__account-block,
.profile-menu__company-block {
  max-width: 250px;
}
.account-block__location-pin div {
  display: inline-block;
  vertical-align: middle;
}
.account-block__location-icon img {
  height: 20px;
  opacity: .65;
}

/*меню компаний*/
.mobile-block__profile-menu {
  padding: 55px 20px 20px;
  box-sizing: border-box;
}
.profile-menu__title {
  margin-top: 0;
  font-size: 25px;
}
.user-companies-list__item {
  margin: 15px 0;
}
.user-companies-list__company-name > div {
  display: inline-block;
  vertical-align: middle;
}
.user-companies-list__logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}
.user-companies-list__logo img {
  width: 100%;
}
.user-companies-list__name {
  width: 86%;
}
.user-companies-list__icon {
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 6px 8px;
  margin-right: 5px;
}
.user-companies-list__company-submenu {
  display: none;
  width: 100%;
  position: absolute;
  top: 30px;
  left: 0;
  background-color: #354052;
  padding: 25px;
  box-sizing: border-box;
}
.profile-menu__company-name {
  height: 60px;
  margin-bottom: 20px;
}
.profile-menu__company-name div {
  display: inline-block;
  vertical-align: middle;
}
.user-companies-list__account-name {
  max-width: 70%;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-companies-list__account-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  overflow: hidden;
}
.user-companies-list__account-image img {
  width: 100%;
}

/*sidebar block + main section block*/
.b-sidebar { /*поменять?*/
  display: none;
}
.b-main-section {/*убрать?*/
  width: 100%;
}

/*modals*/
.b-modal-form {
	display: none;
  width: 300px;
	min-height: 400px;
	position: fixed;
	top: 45%;
	left: 50%;
	border-radius: 10px;
	background-color: #fff;
	margin-top: -200px;
  margin-left: -150px;
	padding: 20px;
  box-sizing: border-box;
	opacity: 0;
	z-index: 5;
}
.modal-form__header {
  padding-bottom: 20px;
  border-bottom: 1px solid #ced1da;
}
.modal-form__title {
  font-family: Proxima Nova Semibold, sans-serif;
  font-size: 18px;
}
.modal-form__footer {
  text-align: right;
  padding-top: 25px;
  border-top: 1px solid #ced1da;
}
.modal-footer__button {
  margin-left: 5px;
  padding: 10px 20px;
}
.modal-close-button {
  float: right;
  background-color: transparent;
  color: #000;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  padding: 0;
  border: 0;
  filter: alpha(opacity=20);
  opacity: .2;
  outline: none;
}
.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .2);
  z-index: 3;
}

/*news modal*/
.modal-news__body {
  font-size: .85em;
}
.news-gallery__image-container {
  width: 100%;
  position: relative;
  height: 200px;
}
.news-gallery__image-container img {
  display: block;
  position: absolute;
  top: 0;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.news-modal__news-content {
  text-align: center;
  margin-bottom: 20px;
}
.news-modal__news-title {
  font-size: 19px;
  margin: 0 0 20px;
  padding-top: 10px;
}
.news-modal__button {
  float: right;
  color: #7e57c2;
  margin-top: 10px;
  margin-right: 10px;
}

/*server news modal*/
.b-server-modal {
  height: 400px;
}
.server-news__image {
  max-height: 400px;
  margin-bottom: 10px;
  overflow: hidden;
}
.server-news__image img {
  width: 100%;
}
.server-news__content {
  height: 220px;
  overflow-y: scroll;
  font-size: .8em;
}

/*product buy modal*/
.buy-form__info,
.modal-form_buy .modal-form__footer {
  text-align: center;
}
.buy-form__info > div {
  margin: 10px 0;
}
.buy-form__product-info {
  font-size: 18px;
  font-weight: bold;
}
.modal-form_buy .modal-footer__button {
  margin-top: 25px;
}

/*product gallery modal*/
.product-page__gallery-modal {
  text-align: center;
  height: 400px;
  padding: 5px;
  background-color: transparent;
}
.gallery-modal__full-size-img {
  max-width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}
.gallery-modal__navigation {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
}
.gallery-modal__change-image {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: 100%;
  font-size: 60px;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  opacity: .3;
  box-sizing: border-box;
}
.gallery-modal__change-image .fa {
  position: absolute;
  top: 41%;
}
.gallery-modal__prev-image {
  width: 34%;
  text-align: left;
  padding-left: 5px;
}
.gallery-modal__next-image {
  width: 61%;
  text-align: right;
  padding-right: 26px;
}

/*product card block*/
.b-product-card {/*общие стили карточки товара*/
  display: inline-block;
  position: relative;
  background-color: #fff;
  vertical-align: top;
  width: 48%;
  margin: 0 1.5% 3% -.34%;
}
.b-product-card:nth-child(2n) {
  margin-right: 0;
}
.b-product-card:nth-child(2n+1) {
  margin-left: 0;
}
.product-card__product-image {
  width: 100%;
  height: 140px;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.product-card__product-image img {
  width: 100%;
  min-height: 100%;
}
.product-card__product-info {
  height: 80px;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  border-top: 1px solid #ced1da;
}
.product-info__product-name {
  height: 35px;
  font-family: Proxima Nova Semibold, sans-serif;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-buy__action-buttons {
  display: none;
}
.info__price {
  width: 100%;
  font-family: Proxima Nova Bold, sans-serif;
  font-size: 16px;
  white-space: nowrap;
}
.product-info__product-category,
.product-info__product-description {
  display: none;
}
.product-card__seller-info {
  display: none;
}
.b-product-card.list-view {/*карточка товара list view*/
  width: 100%;
  height: 115px;
  overflow: hidden;
}
.list-view > div {
  display: inline-block;
  vertical-align: top;
}
.list-view .product-card__product-image {
  width: 35%;
  height: 115px;
  border-right: 2px solid #dbdde2;
  border-top-right-radius: 0;
  overflow: hidden;
}
.list-view .product-card__product-info {
  width: 53%;
  height: 115px;
  text-align: initial;
  border-top: none;
}
.list-view .product-info__product-name {
  display: inline-block;
  width: 60%;
  margin-bottom: 0;
}
.list-view .product-info__product-category {
  display: none;
}
.list-view .product-info__product-buy {
  height: 100%;
  position: relative;
}
.list-view .product-buy__info {
  width: 100%;
}
.list-view .info__price {
  font-size: 14px;
}
.list-view .product-info__product-description {
  display: none;
}
.list-view .product-card__seller-info {
  width: 70%;
  height: 20px;
  font-size: 10px;
  float: right;
  transform: translate(0px, -20px);
}
.list-view .seller-info__seller-name {
  float: right;
  bottom: 5px;
  text-align: right;
  margin-left: 15px;
  padding-right: 10px;
}
.list-view .seller-info__seller-image {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 50%;
  position: relative;
  vertical-align: middle;
}
.list-view .seller-info__contact-seller {
  display: none;
}

/*main page*/
.b-triangle-block {/*блок-стрелка, треугольный блок*/
  position: relative;
  background-color: inherit;
  color: inherit;
}
.triangle-block__triangle {
  width: 0;
  height: 0;
  position: absolute;
  bottom: -19px;
  border-color: inherit;
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
  border-top: 20px solid;
  color: inherit;
}
.section-header {/*span с заголовком секции + комментарий под слайдером*/
  display: block;
  font-family: Proxima Nova Bold, sans-serif;
  font-size: 17px;
  text-align: center;
  padding: 10px;
}

.b-main-page {
  padding: 50px 0;
}
.main-page__slider {
  width: 100%;
}
.main-slider__item {
  width: 320px;
  position: relative;
}
.button_slider {
  position: absolute;
  bottom: 20px;
  left: 32%;
  background-color: transparent;
  color: #fff;
  font-family: Proxima Nova Bold, sans-serif;
  text-shadow: 1px 2px 2px #354052;
  padding: 5px 10px;
  border: 1px solid #fff;
  box-shadow: 1px 2px 2px #354052,
              inset 1px 2px 2px #354052;
}
.slider-main__previews {
    display: none;
}
.slider__slider-footer {
  background-color: #354052;
}
.slider__slider-footer .section-header{
  color: #fff;
  font-family: Proxima Nova Semibold, sans-serif;
}
.main-page__top-products {
  background-color: #e3ecf5;
}
.top-products__top-prod-content {
  padding: 40px 0 25px 0;
}
.top-prod-content__product-blocks {
  margin-bottom: 20px;
}
.product-blocks__product-card:nth-child(n+5) {
  display: none;
}
.top-prod-content__button-link {
  text-align: center;
}
.top-products__triangle-block {
  color: #e3ecf5;
}
.best-offers__offers-content {
  width: 100%;
  padding: 25px 0;
}
.offers-content__section-header {
  padding: 10px 45px;
}
.offers-content__news-blocks.owl-carousel {
  margin-bottom: 20px;
}
.b-news-card {/*общие стили для карточки новости*/
  display: inline-block;
  width: 250px;
  height: 200px;
  position: relative;
  background-color: #fff;
  vertical-align: top;
}
.news-card__image {
  width: 100%;
  height: 135px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.news-card__image img {
  max-width: 100%;
  min-height: 100%;
}
.news-card__info {
  width: 100%;
  height: 65px;
  font-family: Proxima Nova Semibold, sans-serif;
  padding: 10px;
  box-sizing: border-box;
  border-top: 1px solid #ced1da;
  overflow: hidden;
}
.info__headline {
  height: 50px;
  font-size: 13px; /*убрать? поменять?*/
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info__content {
  display: none;
}
.info__company-name,
.info__posted-date {
    display: none;
}
.news-card__news-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #d0c4e8;
  color: #fff;
  font-size: 14px;
  padding: 5px 7px;
  border-radius: 40px;
}
.news-card__promo-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #1a93ee;
  color: #fff;
  font-size: 14px;
  padding: 5px 7px;
  border-radius: 40px;
}
.news-card__timer-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fff;
  font-family: Myriad Pro, sans-serif;
  font-size: 10px;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 40px;
  border: 1px solid #ced1da;
}
.news-card__timer-badge img {
  position: relative;
  top: 1px;
  margin-right: 5px;
}
.owl-carousel .owl-item .news-card__timer-badge img {
  display: inline;
}
.news-card__timer-badge span {
  position: relative;
  bottom: 2px;
}
.news-card__logo-badge {
  position: absolute;
  top: 10px;
  left: 10px;
}
.news-card__logo-badge img {
  max-width: 85px;/*поменять?*/
  max-height: 35px;/*поменять?*/
  border-radius: 40px;
  border: 1px solid #ced1da;
}
.offers-content__button-link {
  text-align: center;
}
.best-offers__triangle-block {
  color: #fff;
}
.main-page__ratings {
  height: 400px;
  background-color: #d0c4e8;
}
.ratings__ratings-content {
  padding: 30px 0 10px;
}
.ratings-content__section-header,
.news-2gid__section-header {
  font-size: 24px;
}
.ratings-content__tabs-links {
  text-align: center;
  margin-top: 10px;
}
.tabs-links__link {/*tabs*/
  position: relative;
  font-family: Proxima Nova Semibold, sans-serif;
  font-size: 18px;
  margin: 0 5px;
}
.current-tab:before {/*tabs*/
  content: '';
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: -6px;
  left: 0;
  background-color: #4254a0;
}
.rating-tab {/*tabs*/
  margin: 20px 0;
}
.ratings-content__rating-header {
  display: none;
}
.ratings-content__rating-list {
  margin-bottom: 15px;
}
.rating-list__list-item {
  height: 30px;
  font-family: Myriad Pro, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 7px 0;
}
.rating-list__list-item div {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-item__profile-picture {
  width: 30px;
  height: 30px;
  margin-right: 14px;
  border-radius: 50%;
}
.list-item__profile-picture img {
  width: 100%;
  height: 100%;
}
.list-item__profile-name {
  width: 140px;
}
div.list-item__rating-info {
  display: none;
}
.list-item__star-rating {
  float: right;
  position: relative;
  top: 8px;
}
.companies-rating__add-company {
text-align: center;
padding-top: 15px;
}
.news-blocks__card {
  width: 290px;
  margin: 0 auto;
  overflow: hidden;
}
.news-blocks__news-image {
  width: 100%;
  height: 180px;
  overflow: hidden;
}
.news-blocks__news-image img {
  height: 115%;
  width: 201%;
}
.news-blocks__news-content {
  width: 100%;
  height: 90px;
  text-align: center;
  padding: 3px 16px;
  border-top: 1px solid #ced1da;
  box-sizing: border-box;
  background-color: #7e57c2;
  color: #fff;
}
.main-news__news-content {
  background-color: #7e57c2;
  color: #fff;
}
.news-content__header {
  font-family: Proxima Nova Semibold, sans-serif;
  font-size: 18px;
}
.news-content__text {
  font-size: 11px;
  font-weight: bold;
  margin-top: 5px;
}
.news-blocks__posted-date {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Myriad Pro, sans-serif;
  font-size: 11px;
  font-weight: bold;
  padding: 7px 12px;
  border: 1px solid #ced1da;
  border-radius: 40px;
}
.owl-carousel .owl-item .news-blocks__posted-date img {
  display: inline;
  position: relative;
  top: 1px;
  margin-right: 5px;
}
.news-blocks__posted-date span {
  position: relative;
  bottom: 2px;
}

/*registration/authorization page + remind password page*/
.registration-page__content,
.authorization-page__content {
  height: 530px;
}
.b-registration-block,
.b-authorization-block,
.remind-password__block {
  height: 540px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  background-color: #7e57c2;
  color: #fff;
  padding: 10px;
  box-sizing: border-box;
}
.authorization-block__title,
.registration-block__title {
  width: 100%;
  margin: 5px auto 20px;
  font-size: 19px;
  text-align: center;
}
.authorization-block__form,
.registration-block__form,
.remind-password__form {
  width: 100%;
  background-color: #fff;
  color: #354052;
  margin: 0 auto 10px;
  padding: 25px;
  border-radius: 10px;
  box-sizing: border-box;
}
.authorization-block__footer,
.registration-block__footer {
  text-align: center;
}
.registration-block__info {
  color: #66778c;
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
}
.registration-block__checkbox {
  display: inline-block;
  width: 10px;
  padding: 0 0px 10px 0px;
  margin-left: 5px;
}
.registration-block__link {
  color: #7e57c2;
}
.registration-block__sublink {
  color: #66778c;
  font-size: 11px;
  vertical-align: middle;
}
.registration-block__footer-link {
  font-weight: bold;
}
.registration-block__button {
  text-align: center;
}
.authorization-block__button {
  margin: 5px 10px 0 0;
}
.authorization-block__social-authorization {
  margin: 20px 0 0;
}
.b-social-authorization {
  padding: 0 20px;
  margin-bottom: 20px;
}
.social-authorization__title {
  display: block;
  color: #66778c;
  text-align: center;
}
.social-authorization__links-group {
  width: 205px;
  color: #7e57c2;
  font-size: 20px;
  margin: 15px auto;
}
.social-authorization__link {
  margin-right: 15px;
}
.social-authorization__link:nth-child(6) {
  margin-right: 0;
}
.social-authorization__link img {
  width: 18px;
}
.b-infographic {
  display: none;
}
.remind-password__block {
  height: 85vh;
}
.remind-password__form {
  max-width: 350px;
}
.remind-password__title {
  text-align: center;
}
.remind-password__button {
  text-align: center;
  margin-top: 15px;
}

/*search page + products catalog page*/
.search-results {
  text-align: center;
}
.b-catalog-page {
  position: relative;
}
.filter-toggle-button {
  position: absolute;
  right: 4px;
  top: 61px;
}

.b-catalog-filters {
  font-family: Proxima Nova Semibold, sans-serif;
  font-size: 13px;
  margin-bottom: 20px;
}
.catalog-filters__filter-block {/*sidebar filter-block*/
  margin-bottom: 20px;
  padding: 10px 15px;
  border-radius: 5px;
}
.filter-block__filter-title {
  display: inline-block;
  width: 80%;
  font-size: 16px;
}
.filter-block__options-list,
.catalog-filters__subcategoties {
    margin-top: 25px;
}
.filter-block__options-list {
  max-height: 200px;
  overflow-y: scroll;
}
.filter-block__filter-option,
.filter-block__set-filter {
  margin: 10px 0;
}
.catalog-filters__subcategoties {
  position: relative;
  background-color: #d0c4e8;
  margin-bottom: 20px;
  padding: 10px 15px 25px;
  border-radius: 5px;
}
.catalog-filters__subcategoties ul {
  max-height: 220px;
  overflow-y: auto;
}
.subcategoties__item {
  color: #fff;
  font-family: Proxima Nova Bold, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 5px 0;
  padding-left: 10px;
}
.chosen-filters__reset-button {
  color: #7e57c2;
  margin-left: 30px;
}

/*product card page*/
.b-product-page {
  padding: 60px 0 45px;
}
.product-page__product-gallery {
  position: relative;
}
.product-gallery__image {
  height: 300px;
  border: 1px solid #ddd;
  overflow: hidden;
}
.product-gallery__image img {
  display: block;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}
.product-gallery__zoom-in-icon {
  display: none;
}
.product-gallery__thumbnails {
  position: absolute;
  width: 30px;
  bottom: 20px;
  left: 20px;
}
.thumbnails__image {
    width: 40px;
    height: 40px;
    margin: 5px 0;
}
.thumbnails__image img {
    max-height: 40px;
}
.product-page__product-info {
  padding: 10px 15px 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
}
.product-info__header {
  text-align: center;
}
.product-info__posted-date {
  color: #ccc;
}
.product-info__product-title {
  font-size: 17px;
  margin: 5px 0 15px;
}
.product-info__seller-info {
  display: inline-block;
  width: 70%;
  height: 35px;
}
.seller-block__seller-image {
  display: inline-block;
  width: 35px;
  height: 35px;
  float: left;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}
.seller-block__seller-image img {/*поменять?*/
  height: 100%;
}
.seller-block__seller-name {
  display: inline-block;
  max-width: 140px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.seller-block__seller-rating {
  display: inline-block;
  width: 90px;
  color: #ccc;
  font-size: 14px;
}
.product-info__seller-contact {
  display: inline-block;
  width: 28%;/*Поменять*/
}
.seller-contact__text {
  display: none;
}
.product-card__product-description {
  display: none;
}
.product-info__attributes-selection .b-selection {/*не используется?*/
  display: inline-block;
  width: 170px;
  margin: 10px auto;
}
.attributes-selection__separate-attribute {
  margin: 10px 0;
}
.product-info__attributes-selection .selection__box-button {
  width: 100%;
  background-color: #eee;
  border-color: #eee;
  border-radius: 40px;
  position: relative;
}
.product-info__attributes-selection .selection__current-option {
  color: #868686;
}
.product-info__attributes-selection .selection__options-list {
  width: 170px;
  padding-top: 20px;
  border-color: #eee;
  top: 16px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.product-info__price,
.product-info__quantity {
  display: inline-block;
  width: 49%;
  text-align: center;
}
.product-info__price {
  color: #7e57c2;
  font-family: Proxima Nova Bold, sans-serif;
  font-size: 23px;
}
.product-info__quantity {
  color: #ccc;
  font-size: 15px;
}
.product-info__action-buttons {
  margin-top: 20px;
}
.action-buttons__change-quantity {
  display: inline-block;
  background-color: #eee;
  color: #354052;
  border-radius: 25px;
}
.change-quantity__input {
  border: none;
  background-color: #eee;
  text-align: center;
  width: 26px;
  font-weight: 600;
  padding: 10px 0;
}
.actin-butons__change-quantity {/*убрать!*/
  display: inline-block;
  background-color: #eee;
  color: #354052;
  border-radius: 25px;
}
.change-quantity__button {
  padding: 3px;
  font-size: 12px;
  border: none;
  background-color: #eee;
  outline: none;
}
.change-quantity__button_minus {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  padding-left: 8px;
}
.change-quantity__button_plus {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  padding-right: 8px;
}
.action-buttons__change-quantity {
  display: inline-block;
  width: 28%;
}
.action-buttons__main-button {
  display: inline-block;
  width: 66%;
  text-align: right;
  margin-bottom: 10px;
}
.main-button__to-cart {
  padding: 10px 14px;
}
.action-buttons__add-to {
  text-align: right;
}
.editproduct__tabcoent {/*убрать!*/
  display: none;
  box-sizing: border-box;
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}
.add-to__button {
  background-color: transparent;
  border: none;
  color: #ccc;
}
.navigation__tab {
  display: inline-block;
  font-family: Proxima Nova Semibold, sans-serif;
  font-size: 14px;
  margin-right: -1.5%;
  padding: 6px;
  border-right: 1px solid #ddd;
}
.navigation__tab:last-child {
  border-right: none;
}
.editproduct__tabcoent {/*убрать!*/
  display: none;
  box-sizing: border-box;
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}
.tab-current {
  position: relative;
  background-color: #f3f3f3;
}
.tab-current:before {
  content: '';
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: -6px;
  left: 0;
  background-color: #4254a0;
}
.product-description__section {
  display: none;
}
.content-current {
  display: block;
}
.product-description__section-content {
  padding: 20px 15px;
  border: 1px solid #ced1da;
  border-radius: 5px;
}
.product-description__product-attributes {
  border: 1px solid #ced1da;
  border-radius: 5px;
}
.product-attributes__attribute {
  padding: 20px 15px;
}
.product-attributes__attribute:not(:last-child) {
  border-bottom: 1px solid #ced1da;
}
.actin-butons__change-quantity {/*убрать!*/
  display: inline-block;
  background-color: #eee;
  color: #354052;
  border-bottom: 1px solid #ced1da;
  border-radius: 25px;
}
.product-attributes__attribute:first-child {
  color: #66778c;
}
.attribute__name,
.attribute__value {
  display: inline-block;
  width: 49%;
}
.attribute__color-example {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #c1c9d6;
}

/*cart page*/
.b-shopping-cart {
  padding: 70px 0 55px;
}
.share-cart__link-form {
  width: 100%;
  height: 35px;
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ced1da;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}
.shopping-cart__seller-block {
  margin: 20px 0 30px;
}
.chekcout-block__section-name {
  display: none;
}
.seller-block__seller-info {
  margin: 10px 0;
  text-align: center;
}
.seller-block__seller-logo {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.seller-block__block-pagination {
  text-align: center;
  margin-bottom: 20px;
}
.block-pagination__paginator {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
  background-color: #d0c4e8;
  color: #fff;
  padding: 6px 10px;
  box-sizing: border-box;
}
.paginator__bridge {
  position: absolute;
  width: 36px;
  height: 2px;
  background-color: inherit;
  left: -116%;
  top: 47%;
}
.block-pagination__paginator:not(:first-child) {
  margin-left: 10%;
}
.block-pagination__paginator:first-child {
  background-color: #7e57c2;
}
.checkout-block__block {
  display: none;
}
.current-checkout-block {
  display: block;
}
.chekcout-block__product-info {
  border: 1px solid #ced1da;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
}
.checkout-product__header > div {
  display: inline-block;
  vertical-align: top;
}
.checkout-product__product-image {
  width: 40%;
  height: 100px;
  overflow: hidden;
}
.checkout-product__product-info {
  width: 58%;
  padding-left: 5px;
  box-sizing: border-box;
}
.checkout-product__product-title {
  font-family: Proxima Nova Bold, sans-serif;
  font-size: 22px;
}
.checkout-product__product-attributes {
  color: #66778c;
  font-size: 12px;
  line-height: 1.7;
}
.checkout-product__delete-icon {
  display: none;
}
.checkout-product__price,
.checkout-product__amount,
.checkout-product__total-price {
  margin: 10px 0;
}
.checkout-product__label {
  display: inline-block;
  width: 40%;
  color: #66778c;
  font-size: 13px;
  margin-right: 5%;
}
.checkout-product__value {
  display: inline-block;
  width: 48%;
  text-align: center;
  font-size: 13px;
  font-family: Proxima Nova Bold, sans-serif;
}
.checkout-product__amount .checkout-product__value {
  max-width: 100px;
  margin-left: 11px;
  color: #868686;
  border: 1px solid #ced1da;
  border-radius: 25px;
  padding: 0 5px;
}
.checkout-product__input {
  border: none;
  text-align: center;
  width: 35px;
  font-weight: 600;
  padding: 10px 0;
}
.checkout-product__button {
    font-size: 12px;
}
.checkout-product__delete-button {
  text-align: center;
  margin-top: 15px;
}
.chekcout-block__promocode-input {
  text-align: center;
  margin: 10px 0;
}
.promocode-input {
  width: 150px;
  border-radius: 40px;
  padding: 10px 15px;
  border: 1px solid #ced1da;
}
.chekcout-block__total-sale,
.chekcout-block__total-price {
  display: inline-block;
  width: 49%;
}
.total-sale__label,
.total-sale__price,
.total-price__label,
.total-price__price {
  width: 100%;
  text-align: center;
  color: #ced1da;
  font-size: 13px;
  margin-top: 5px;
}
.total-sale__price,
.total-price__price {
  color: #354052;
  font-size: 20px;
  font-family: Proxima Nova Bold, sans-serif;
}
.chekcout-block__button {
  text-align: center;
  margin: 10px 0;
}
.buyer-info__next-button {
  float: right;
}
.checkout-block__title {
  color: #66778c;
  text-align: center;
  margin: 15px 0;
}
.checkout-block__shipment-list,
.checkout-block__payment-list {
  margin-bottom: 20px;
}
.checkout-block__ready {
  text-align: center;
}
.checkout-block__ready-title {
  font-size: 20px;
  font-family: Proxima Nova Semibold, sans-serif;
  margin: 15px 0;
}

/*support page*/
.support__title {
  background-color: #354052;
  color: #fff;
  font-size: 20px;
  margin: 10px 0 0;
  padding: 10px;
}
.b-support > div {
  margin-bottom: 20px;
}
.ask-question__form {
  margin-top: 10px;
}
.ask-question__submit-button {
  margin-top: 15px;
}
.ask-question__file-upload {
  margin: 10px 0;
}
.ask-question__textarea {
  margin-bottom: 15px;
}
/*accordion вынести в interface elements, если еще где-то используется*/
.accordion__toggle {
  position: relative;
  background-color: #ced1da;
  font-size: 15px;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #b1b5c1;
}
.accordion__toggle.active {
  background-color: #d0c4e8;
}
.accordion__content {
  display: none;
  background-color: #f5f5f5;
  padding: 10px 15px;
}

/*news page*/
.news-page__choose-news-type {
  width: 60%;
  text-align: center;
  margin: 10px auto 20px;
}
.news-type {
  color: #7f8fa4;
  margin: 0 5px;
}
.news-type-active {
  color: #7e57c2;
}
.news-page__news-blocks {
  width: 250px;
  margin: 0 auto;
}
.news-blocks__news-card {
  margin-bottom: 15px;
}

/*users/companies search page*/
.users-page__search-user,
.companies-page__search-company {
  display: inline-block;
  width: 300px;
  margin: 0 auto;
}
.search-form__input-aria {
  width: 100%;
  padding: 11px 15px;
  border: 1px solid #ced1da;
  border-radius: 40px;
  outline: none;
  box-sizing: border-box;
}
.search-form__search-submit {
  position: absolute;
  top: 7px;
  right: 8px;
}
.users-page__users-list,
.companies-page__companies-list {
  width: 600px;
  margin: 40px auto;
  border: 1px solid #ced1da;
  border-radius: 5px;
}
.companies-page__companies-list {
  width: 840px;
}
.users-list__item:not(:last-child),
.companies-list__item:not(:last-child) {
  border-bottom: 1px solid #ced1da;
}
.users-list__item > div,
.companies-list__item > div {
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  vertical-align: middle;
}
.users-list__item:first-child,
.companies-list__item:first-child {
  color: #66778c;
}
div.users-list__user-image,
div.companies-list__company-image {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
}
div.users-list__user-image img,
div.companies-list__company-image img {
  width: 100%;
}
.users-list__user-name,
.users-list__user-rating,
.users-list__last-login {
  width: 29.3%;
}
.companies-list__company-name,
.companies-list__company-rating,
.companies-list__last-login,
.companies-list__product-categories {
  width: 22%;
}
.users-page__more-users,
.companies-page__more-companies {
  text-align: center;
  font-weight: bold;
  padding: 20px;
}

/*user page, company page*/
.icon-position {
  vertical-align: top;
  margin-right: 5px;
}

/*sidebar*/
.user-page__user-sidebar {
  margin-bottom: 20px;
}
.user-sidebar__user-photos,
.user-sidebar__title,
.user-information__block {
  display: none;
}
.primary-info__user-picture {
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  border-radius: 50%;
  border: 1px solid #ced1da;
  overflow: hidden;
}
.primary-info__user-picture img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.primary-info__user-name {
  font-family: Proxima Nova Bold, sans-serif;
  font-size: 16px;
  text-align: center;
  margin-bottom: 5px;
}
.guest-sidebar__star-rating {
  width: 140px;
  margin: 0 auto;
}
/*конец sidebar*/

/*main-section*/
.table-div {/*прокрутка таблиц при маленьком разрешении*/
	width: 100%;
	overflow: auto;
}
.company-page__banner {
  width: 100%;
  height: 100px;
  border-top: 1px solid #ced1da;
  border-bottom: 1px solid #ced1da;
}
.company-page__banner-image {
  width: 100%;
  height: 100%;
}
.user-page__navigation,
.company-page__navigation {
  margin-bottom: 20px;
}
.user-page__navigation-item,
.company-page__navigation-item {
  display: inline-block;
  font-family: Proxima Nova Semibold, sans-serif;
  font-size: 14px;
  margin-right: -.7%;
  padding: 6px 7px;
  border-right: 1px solid #ddd;
}
.company-page__navigation-item {
  margin-right: -1.7%;
  padding: 6px 4px;
}
.user-page__navigation-item:last-child,
.company-page__navigation-item:last-child {/*поменять*/
  border-right: none;
}
.navigation__send-message {
  display: none;
}
.navigation__send-message span {
  display: none;
}
.tab-link a {/*поменять?*/
  pointer-events: none;
}
.user-page__navigation .tab-link-current {
  position: relative;
  border: 1px solid #4254a0;
}
.company-page__navigation .tab-link-current {
  position: relative;
  background-color: #d0c4e8;
}
.user-page__navigation .tab-link-current:before,
.company-page__navigation .tab-link-current:before {
  content: '';
  position: absolute;
  bottom: -6px;
  left: -1px;
  width: 103%;
  height: 6px;
  background-color: #4254a0;
}
.company-page__navigation .tab-link-current:before {
  width: 101%;
  left: 0;
}
.user-page__content-section,
.company-page__content-section {
  display: none;
}
.section-current {
  display: block;
}

/*Events page(main page)*/
.events-page__event {
  margin-bottom: 10px;
}
.events-page__event-label {
  color: #7f8fa4;
  margin-bottom: 10px;
}
.event-label__event-date {
  display: none;
}
.b-new-review {
  overflow: hidden;
  margin-bottom: 15px;
}
.new-review__product-card {
  border-bottom: 1px solid #ced1da;
}
.new-review__product-card .product-card__product-image {
  height: 180px;
}
.new-review__review-info {
  padding: 10px;
}
.new-review__reviewer {
  margin-bottom: 10px;
}
.new-review__reviewer  div {
  display: inline-block;
  vertical-align: middle;
}
.new-review__reviewer-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.new-review__reviewer-name {
  font-family: Proxima Nova Semibold, sans-serif;
  font-size: 15px;
}
.new-review__reviewer-name {
  display: inline-block;
  vertical-align: top;
}
.new-review__review-content {
  display: inline-block;
  width: 100%;
  background-color: #f2f2f2;
  vertical-align: top;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ced1da;
  box-sizing: border-box;
}
.review-content__rating {
  margin-bottom: 10px;
}
.b-company-events-page .b-news-card,
.b-company-news-page .b-news-card {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 15px;
}

/*reviews page*/
.b-review {/*вынести отдельно/блок отзыва*/
  margin-bottom: 10px;
}
.b-review > div {
  padding: 10px;
}
.review__content {
  border-top: 1px solid #ced1da;
}
.review__info > div {
  display: inline-block;
}
.review__reviewer-name {
  font-family: Proxima Nova Bold, sans-serif;
  font-size: 14px;
}
.review__posted-date {
  float: right;
  color: #ced1da;
  font-size: 11px;
  margin-top: 5px;/*вынести отдельно/блок отзыва*/
}
.review__reviewer-rating {
  margin-right: 10px;
}
.review__reviewer-image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.b-user-reviews-page .review__content,
.b-company-reviews-page .review__content {
  border-bottom: 1px solid #ced1da;
}
.review__ratings div {
  display: inline-block;
}
.review__separate-rating {
  width: 29%;
  font-size: 11px;
}
.review__separate-rating:first-child {
  margin-right: 6%;
}
.review__separate-rating:last-child {
  float: right;
}
.b-user-reviews-page .star-rating__stars .fa:not(:first-child) {
  display: none;
}
.review__separate-rating .b-star-rating {
  color: #d0c4e8;
}
.b-overall-ratings {
  padding: 10px;
  margin-bottom: 20px;
}
.b-overall-ratings > div {
  width: 100%;
}
.b-overall-ratings div {
  display: inline-block;
}
.overall-ratings__info {
  margin-bottom: 10px;
}
.overall-ratings__reviews-amount {
  float: right;
  margin-right: 1%;
}
.reviews-amount__number {
  font-family: Proxima Nova Bold, sans-serif;
}

/*information page*/
.b-user-information-page .shipment-list__item > div {
  /* width: 21%; */
}
.information-page__map-button {
  display: none;
}
.map-block {
  height: 400px;
  width: 100%;
}

/*user setting page*/
.personal-info__email-input {
  position: relative;
  width: 100%;
  max-width: 450px;
}
.email-input__validation-icon {
  position: absolute;
  top: 37px;
  right: 15px;
}
.validation-icon__unconfirmed {
  color: #ed1c24;
}
.validation-icon__confirmed {
  color: #1bb934;
}
.email-input__email-validation {
  position: absolute;
  right: 6px;
  top: 67px;
  color: #7e57c2;
  font-size: 13px;
}

/*messages page*/
.b-messages > ul {
  width: 100%;
  vertical-align: top;
}
.messages__current-dialog {
  display: none;
  position: relative;
  padding-left: 15px;
  box-sizing: border-box;
}
.dialogs-list__dialog-preview {
  position: relative;
  height: 70px;
  margin: 20px 0;
}
.dialogs-list__dialog-preview > div {
  display: inline-block;
  vertical-align: middle;
}
.dialog-preview__dialog-photo {
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 50%;
}
.dialog-preview__last-massage,
.dialog-preview__date {
  color: #ced1da;
}
.dialog-preview__date {
  position: absolute;
  right: 20px;
  font-size: 14px;
}
.dialog-preview__name {
  font-family: Proxima Nova Semibold;
  font-size: 17px;
  margin-bottom: 5px;
}
.current-dialog__separate-message {
  margin: 20px 0;
}
.saparate-message__message-info {
  position: relative;
  margin-bottom: 20px;
}
.message-info__sender > div {
  display: inline-block;
  vertical-align: middle;
}
.sender__picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.sender__name {
  font-family: Proxima Nova Semibold;
}
.message-info__date {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 14px;
  color: #ced1da;
}
.current-dialog__input-block {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.current-dialog__input-block .button {
  float: right;
  margin: 10px 15px 0 0;
}
.shipment-setting__set-timetable,
.employees-page__roles-list {
  min-width: 800px;
}
.shipment-block__shipment-list,
.user-page__orders-list,
.order-page__products-list,
.employees-page__invites-list,
.employees-page__employees-list {
  border: none;
}
.shipment-block__pickup {
  margin-bottom: 10px;
}
.shipment-list__item,
.order-list__item,
.orders-list__item,
.employees-page__list-item {
  max-width: 450px;
  font-weight: bold;
  margin: 0 auto 15px;
  padding: 0 15px;
  border: 1px solid #ced1da;
  border-radius: 10px;
  box-sizing: border-box;
}
.set-timetable__item:not(:last-child),
.employees-page__list-item:not(:last-child) {
  border-bottom: 1px solid #ced1da;
}
.list-info__title,
.list-info__value {
  display: inline-block;
  width: 49%;
  vertical-align: middle;
  text-align: initial;
}
.list-info__title {
  color: #66778c;
}
.shipment-list__item > div,
.order-list__item > div,
.orders-list__item > div,
.employees-page__list-item > div {
  width: 100%;
  margin: 15px 0;
  text-align: center;
}
.set-timetable__item > div {
  display: inline-block;
  width: 15%;
  vertical-align: middle;
  text-align: center;
  padding: 10px 0;
}
.shipment-list__item:first-child,
.order-list__item:first-child,
.orders-list__item:first-child,
.employees-page__list-item:first-child {
  display: none;
}
.set-timetable__item:first-child {
  color: #66778c;
}

/*order page*/
.order-page__products-list {
  min-width: 720px;
}
.order-list__item > div {
  width: 11%;
}
.order-list__item > div.order-list__product-info {
  width: 30%;
  text-align: left;
}
.order-list__product-name {
  font-size: 18px;
  font-family: Proxima Nova Bold, sans-serif;
  margin-bottom: 10px;
}
.order-list__product-attributes {
  color: #66778c;
  font-size: 12px;
}
.order-list__product-attributes div {
  margin-bottom: 5px;
}
.b-evaluate-order > div {
  display: inline-block;
  vertical-align: top;
}
.evaluate-order__attach-file {
  width: 5%;
}
.evaluate-order__comments {
  width: 67%;
}
.evaluate-order__set-ratings {
  width: 26%;
  font-size: 14px;
}
.set-ratings__rating {
  text-align: right;
  margin: 5px 0;
}
.set-ratings__rating span {
  margin-left: 5px;
}
.b-evaluate-order .star-rating__stars i {
  color: #d0c4e8;
}
.evaluate-order__action-button {
  width: 100%;
  height: 35px;
}
.evaluate-order__action-button .button {
  float: right;
}

/*pickup setting page*/
.set-timetable__item > div {
  width: 30%;
}
.set-timetable__item > div:nth-child(3) {
  width: 8%;
}
.set-timetable__item .checkbox-block {
  width: 30%;
  margin: 0 auto;
}
.set-timetable__item .input-form {
  width: 70px;
  margin: 0 5px;
}
.set-timetable__item .checkbox-block.set-timetable__second-checkbox {
  top: -10px;
}
.set-timetable__item .checkbox-block.set-timetable__last-checkbox {
  top: 5px;
  float: right;
  width: 10px;
}
.pickup-setting__select-form {
  width: 30%;
  margin-top: 10px;
  margin-right: 1%;
}

/*payment page*/
.b-payment-block {
  padding: 15px;
}
.payment-block__checkbox {
  display: none;
}
.b-payment-block > div {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}
.payment-block__payment-type > div {
  display: inline-block;
  vertical-align: top;
}
.payment-block__payment-type {
  display: block;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.payment-type__icon {
  width: 100px;
  height: 84px;
  overflow: hidden;
}
.payment-type__icon img {
  width: 85%;
}
.payment-type__icon-choose img {
  width: 100%;
  transform: translateY(-51%);
}
.payment-block__checkbox:checked + label .payment-type__icon-choose img,
.payment-type__icon-choose img:hover {
  transform: translateY(0);
}
.payment-type__icon {
  margin-right: 20px;
}
.payments-type__name {
  font-family: Proxima Nova Semibold, sans-serif;
}
.payments-type__description {
  color: #7f8fa4;
}
.payment-type__info {
  width: 60%;
}
.b-payment-setting {
  display: none;
  margin-top: 20px;
}

/*add news page*/
.b-news-picture {
  margin: 5px 0 40px;
}
.news-picture__add-picture {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 200px;
  margin-right: 5px;
  margin-bottom: 25px;
  vertical-align: top;
  overflow: hidden;
}
.news-picture__main:after {
  content: 'Обложка';
  position: absolute;
  color: #66778c;
  bottom: -25px;
  left: 45px;
}

/*employees page*/
.employees-page__navigation {
  margin-bottom: 15px;
}
.employees-page__navigation-item {
  display: inline-block;
  font-family: Proxima Nova Semibold, sans-serif;
  font-size: 15px;
  margin-right: -.6%;
  padding: 8px 11px;
}
.employees-page__navigation-item.tab-link-current {
  position: relative;
  background-color: #f3f3f3;
}
.employees-page__navigation-item.tab-link-current:before {
  content: '';
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #4254a0;
}
.employees-page__content-section {
  display: none;
}
.employees-page__content-section.section-current {
  display: block;
}
.employees-page__employees-list,
.employees-page__invites-list,
.employees-page__roles-list {
  font-size: 13px;
}
.employees-page__employees-list .employees-page__list-item > div:nth-child(7),
.employees-page__employees-list .employees-page__list-item > div:last-child {
  display: inline-block;
  width: 49%;
}
.employees-page__roles-list .employees-page__list-item > div {
  width: 24%;
}
.employees-page__search-block {
  margin-bottom: 15px;
}
.employees-page__search-section {
  position: relative;
  max-width: 450px;
  margin: auto;
}

/*User photo page*//*переделать*/
.file-preview {
  position: relative;
  max-width: 256px;
  max-height: 256px;
  margin: 10px auto 20px;
  border: 1px solid lightgray;
  overflow: hidden;
}
.file-preview-img {
  position: relative;
}
.file-gallery-preview img {
  width: 100%;
  border-radius: 10px;
}
.file-preview-tip {
  opacity: 0;
  position: absolute;
  padding: 8px;
  width: 100%;
  left: 0;
  bottom: -10%;
  background-color: #fff;
  text-align: center;
  transition: all 400ms;
}
.file-preview-input {
  visibility: hidden;
  width: 0;
  height: 0;
}
.file-gallery-preview {
  display: inline-block;
  position: relative;
  margin: 10px 5px 15px;
  width: 128px;
  height: 128px;
  overflow: hidden;
  vertical-align: top;
}
.file-gallery-preview:before  {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0;
  transition: all 400ms;
}
.file-gallery-preview.current-avatar:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #7e57c2;
  opacity: .5;
  border-radius: 10px;
}
.current-avatar:after {/*не используется?*/
  content: 'Обложка';
  position: absolute;
  bottom: -25px;
  left: 30px;
  color: #66778c;
}
.file-gallery-preview-rem-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  padding: 8px;
  color: rgba(0, 0, 0, .8);
  font-size: 14px;
  transition: all 400ms;
  z-index: 1;
}
.current-avatar > .file-gallery-preview-rem-btn {
  display: none;
}

/*404 page*/
.b-page404 {
  text-align: center;
}

/*страница информации об оплате*/
.b-document-page img {
  max-width: 100%;
}

/*Comparison page*/
.comparison-page__note {
  height: 200px;
  color: #66778c;
  margin: 15px 0;
  padding: 15px;
}
.comparison-page__link {
  color: #7e57c2;
}
.comparison-page__filter {
  margin: 10px 0;
}
.comparison-page__filter-item {
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
}
.comparison-page__filter-item_chosen {
  color: #7e57c2;
}
.features-list__item {
  display: inline-block;
  width: 49.8%;
  text-align: center;
}
.comparison-page__features-list {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.features-list__item > div {
  margin: 15px 0;
}
.features-list__feature-title {
  color: #66778c;
}
.compared-products__products-list,
.comparison-page__features-list {
  display: none;
}
.chosen-category {
  display: block;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding-left: 10px;
}
.comparison-page__sidebar {
  display: block;
}

/*Media Queries*/
@media screen and (min-width:480px) {
  .limited-width {
    width: 96%;
  }
  .pagination__link {
    margin-right: -1.25%;
  }
  .button_slider {
    left: 37%;
  }
  .main-slider__item {
    width: 480px;
  }
  .product-card__product-image {
    height: 200px;
  }

  /*registration/authorization page*/
  .b-authorization-block,
  .b-registration-block {
    height: 90%;
  }
  .b-authorization-block {
    padding-top: 20px;
  }
  .authorization-block__title {
    display: block;
  }

  /*user page, company page*/
  .user-page__navigation-item,
  .company-page__navigation-item {
    padding: 6px 26px;
  }
  .user-page__navigation .tab-link-current:before,
  .company-page__navigation .tab-link-current:before {
    width: 100%;
  }
  .new-review__product-card .product-card__product-image,
  .new-review__product-card .product-card__product-info {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
  }
  .new-review__product-card .product-card__product-image {
    border-right: 1px solid #ced1da;
    border-top-right-radius: 0;
  }
  .new-review__product-card .product-card__product-info {
    border-top: none;
  }
  .company-page__banner {
    height: 150px;
  }

  /*cart page*/
  .paginator__bridge {
    width: 52px;
    left: -167%;
  }
  .checkout-product__amount .checkout-product__value {
    margin-left: 50px;
  }
}


/*add product page (old version)*/
.b-add-product-page {
  margin-bottom: 20px;
}
.view-cats-content > .view-cats {
  margin-left: 64px;
}
.view-cats-content {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  font-size: 18px;
  color: #000;
}
.add-product__accordion {
  width: 100%;
  background-color: #eee;
  color: #444;
  font-size: 17px;
  text-align: left;
  padding: 18px;
  border: none;
  outline: none;
  box-sizing: border-box;
  transition: .4s;
}
.add-product__accordion.active {
  background-color: #7e57c2;
  color: #fff;
}
.add-product__accordion .fa {
  font-size: 14px;
}
.add-product__panel {
  padding: 16px;
  background-color: #fff;
  display: none;
  overflow: auto;
}
.add-product__tab {
  width: 100%;
  height: 250px;
  float: left;
  background-color: #efefef;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ced1da;
  overflow: auto;
  box-sizing: border-box;
}
.add-product__tab .add-product__tablinks {
  display: block;
  width: 100%;
  background-color: inherit;
  font-weight: bold;
  text-align: left;
  padding: 22px 16px;
  border: none;
  outline: none;
  transition: .3s;
  box-sizing: border-box;
}
.add-product__tab .add-product__tablinks:hover {
  background-color: #ddd;
}
.add-product__tab .add-product__tablinks.active {
  background-color: #ccc;
}
.add-product__tabcontent {
  display: none;
  width: 100%;
  height: 250px;
  float: left;
  padding: 12px;
  border: 1px solid #ced1da;
  border-radius: 5px;
  box-sizing: border-box;
}
.add-product__create-button {
  text-align: center;
}

/*edit product page (old version)*/
.edit-product__button {
  width: 192px;
}
.edit-product__delete-button {
  background-color: #d83434;
  color: #fff;
}
.edit-product__close-button {
  margin-left: 15px;
  color: #475B7C;
  font-size: 22px;
  font-weight: bold;
  line-height: 20px;
  float: right;
  transition: .3s;
}
.edit-product__close-button:hover {
  color: #000;
}
.view-cats-title > .view-cats-check {
  margin-left: 64px;
}
.view-cats-title {
  background-color: #f6f6f6;
  color: #000;
  font-size: 18px;
  margin-top: -1px;
  padding: 12px;
  border: 1px solid #ddd;
}
.uploaded-image {
  display: inline-block;
  position: relative;
  margin: 8px;
}
.uploaded-image-preview {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.uploaded-image:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition: all 400ms;
}
.uploaded-image.main-image {
  cursor: default;
}
.uploaded-image.main-image:after {
  background-color: #7e57c2;
  opacity: .5;
}
.uploaded-image:hover:after {
  opacity: .2;
}
.uploaded-image-preview-rem-btn {
  position: absolute;
  width: 32px;
  height: 32px;
  padding: 8px;
  top: 0;
  right: 0;
  color: rgba(0, 0, 0, .3);
  font-size: 14px;
  transition: all 400ms;
  z-index: 1;
}
.uploaded-image-preview-rem-btn:hover {
  color: #ed1c24;
}
.main-image > .uploaded-image-preview-rem-btn {
  display: none;
}
.att-color {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgba(221, 221, 221, .7);
  vertical-align:middle;
  width: 24px;
  height: 24px;
}
.edit-product__accordion {
  box-sizing: border-box;
  background-color: #fff;
  color: #444;
  padding: 18px;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #ddd;
  outline: none;
  transition: .4s;
  margin-bottom: 15px;
}
.edit-product__accordion {
  background-color: #ddd;
}
.edit-product__accordion.active,
.edit-product__accordion:hover {
  background-color: #c3c3c3;
}
.title-span {
  font-weight: bold;
  margin-left: 5px;
}
.edit-product__panel {
  display: none;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 16px;
  border: 1px solid #ddd;
  overflow: auto;
}
.edit-product__tab {
  width: 30%;
  height: 300px;
  float: left;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  overflow: auto;
  box-sizing: border-box;
}
.edit-product__tab .edit-product__tablinks {
  display: block;
  width: 100%;
  background-color: inherit;
  color: #000;
  padding: 22px 16px;
  border: none;
  outline: none;
  text-align: left;
  transition: .3s;
}
.edit-product__tab .edit-product__tablinks:hover {
  background-color: #ddd;
}
.edit-product__tab .edit-product__tablinks.active {
  background-color: #ccc;
}
.edit-product__tabcontent {
  display: none;
  box-sizing: border-box;
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}
.view-images {
  margin-bottom: 20px;
}
.edit-product__add-button {
  color: #fff;
  background-color: #7e57c2;
  padding: 5px 0;
}
.edit-product__add-button span {
  padding: 15px;
}

@media screen and (min-width:600px) {
  .pagination__link {
    margin-right: -.99%;
  }
  .mobile-headline__shopping-cart,
  .mobile-headline__compare-products {
    width: 7%;
  }
  .button_slider {
    left: 40%;
  }
  .main-slider__item {
    width: 600px;
  }
  .b-product-card {
    width: 31.6%;
    margin: 0 1.4% 1.4% -.34%;
  }
  .b-product-card:nth-child(2n) {
    margin-right: 1.4%;
  }
  .b-product-card:nth-child(3n) {
    margin-right: 0;
  }
  .product-blocks__product-card:nth-child(5),
  .product-blocks__product-card:nth-child(6) {
    display: inline-block;
  }
  .product-card__product-image {
    height: 170px;
  }
  .news-page__news-blocks {
    width: 510px;
  }

  /*modals*/
  .b-modal-form {
    width: 500px;
    min-height: 700px;
    margin-top: -360px;
    margin-left: -250px;
  }

  /*registration/authorization page*/
  .authorization-block__form,
  .registration-block__form {
    width: 350px;
  }
  .authorization-block__title,
  .registration-block__title {
    width: 430px;
    font-size: 27px;
  }

  /*support page*/
  .accordion__toggle:after {
    content: '';
    display: inline-block;
    width: .51em;
    height: .5em;
    position: absolute;
    top: 12px;
    right: 15px;
    color: inherit;
    border-width: .13em .13em 0 0;
    border-style: solid;
    transform: rotate(135deg);
    vertical-align: top;
    transition: .3s linear;
  }
  .accordion__toggle.active:after {
    top: 16px;
    transform: rotate(-45deg);
    transition: .3s linear;
  }
  /*user page, company page*/
  .company-page__banner {
    height: 170px;
  }
  .user-page__navigation-item,
  .company-page__navigation-item {
    padding: 10px 41px;
  }
  .user-page__navigation .tab-link-current:before,
  .company-page__navigation .tab-link-current:before {/*повтор?*/
    width: 100%;
  }

  /*cart page*/
  .share-cart__link-form {
    width: 60%;
    margin-right: 3%;
  }
  .paginator__bridge {
    width: 63px;
    left: -206%;
  }
  .checkout-product__amount .checkout-product__value {
    margin-left: 50px;
  }
}
