<template>
  <!-- Разделы -->
  <div class="seller-block__checkout-block">
    <!-- Блок товаров -->
    <div v-if="cart && cart.products && cart.products.length" class="checkout-block__block checkout-block__products current-checkout-block js-checkout-block">
      <div class="chekcout-block__section-name">
        <div class="">Товары</div>
        <div class="">Цена</div>
        <div class="">Количество</div>
        <div class="">Итого</div>
        <div></div>
      </div>

      <!-- Цикл по товарам -->
      <div  v-for="item in cart.products" :class="'chekcout-block__product-info js-product' + ((loading) ? 'loading' : '') " >
        <div class="checkout-product__header">
          <div class="checkout-product__product-image">
            <a href="" title="">
              <img v-if="item.sku.hero_image && item.sku.hero_image.path" :src="item.sku.hero_image.path" />
              <img v-if="!item.sku.hero_image || !item.sku.hero_image.path" src="./../../assets/img/no_image.jpg" />
            </a>
          </div>
          <div v-if="item.sku && item.sku.name" class="checkout-product__product-info">
            <router-link :to="{name: 'Sku', props:{skuId: item.sku.id}}">
              <div class="checkout-product__product-title">{{item.sku.name}}</div>
              <div class="checkout-product__product-attributes" v-for="value in item.sku.property_values" v-if="value.property && item.sku.property_values && item.sku.property_values.length">
                <div><span>{{value.property.name}}: </span><span>{{value.label}}</span></div>
              </div>
            </router-link>
          </div>
        </div>

        <div class="checkout-product__price">
          <div class="checkout-product__label">Цена</div>
          <div class="checkout-product__value">
            <span class="js-product-price">{{item.price}}</span> Р
          </div>
        </div>

        <action-cart-amount :amount="item.amount" :sku-id="item.sku.id"></action-cart-amount>

        <div class="checkout-product__total-price">
          <div class="checkout-product__label">Итого</div>
          <div class="checkout-product__value ">
            <span class="js-product-total-price">{{item.full_price}}</span> Р
          </div>
        </div>

        <div class="js-delete-product checkout-product__delete-button">
          <button v-on:click="removeSKUFromCart(item.sku.id)" class="button button_bordered-light">Удалить</button>
        </div>

        <div v-on:click="removeSKUFromCart(item.sku.id)" class="js-delete-product checkout-product__delete-icon">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </div>


      <div class="chekcout-block__total-sale">
        <div class="total-sale__label">Скидка</div>
        <div class="total-sale__price">{{cart.discount}} Р</div>
      </div>

      <div class="chekcout-block__total-price">
        <div class="total-price__label">Итого</div>
        <div class="total-price__price">
          <span class="js-seller-total-price">{{cart.discount_price}}</span> P
        </div>
      </div>

      <div class="chekcout-block__button">
        <button class="button js-next-checkout-block">Оформить</button>
      </div>
    </div>

    <div v-if="!cart || !cart.products || !cart.products.length">В вашей корзине нет товаров</div>

  </div>
</template>
<script src="./index.js"></script>
