<template>
  <div class="main-headline__personal-account">
    <div v-if="currentUser">
      <div id="js-toggle-link" class="personal-account__toggle-block" v-on:click="(dropdownShow) ? dropdownShow = false : dropdownShow = true">
        <img class="personal-account__user-picture" src="./../../assets/img/no_image.jpg" alt="Фото">
        <span class="personal-account__user-name">{{currentUser.login}}</span>
        <span class="personal-account__chevron-down-icon chevron-down-icon"></span>
      </div>

      <div id="js-user-block" class="personal-account__user-block" v-show="dropdownShow">
        <ul class="user-block__user-menu">
          <li class="user-block__user-link" v-on:click="dropdownShow = false"><router-link :to="{name: 'User'}">В личный кабинет</router-link></li>
          <li class="user-block__user-link" v-on:click="dropdownShow = false"><a v-on:click="logout()">Выйти из аккаунта</a></li>
        </ul>
      </div>
    </div>
    <div v-if="!currentUser">
      <div id="js-toggle-link" class="personal-account__toggle-block" v-on:click="(dropdownShow) ? dropdownShow = false : dropdownShow = true">
        <img class="personal-account__icon" src="./../../assets/img/user-icon.png"/>
        <span class="personal-account__title">Личный кабинет</span>
        <span class="personal-account__chevron-down-icon chevron-down-icon"></span>
      </div>
      <div id="js-user-block" class="personal-account__authorization-block grey-rounded-border" v-show="dropdownShow">
        <form-small-login></form-small-login>
      </div>
    </div>
  </div>
</template>
<script src="./index.js"></script>
