<template>
    <li v-if="product" :class="'product-card_main-section-width user-products__product-card b-product-card grey-rounded-border ' + viewType + '-view'">
      <!-- Изображение товара -->
      <div class="product-card__product-image">

          <router-link
            :title="product.name"
            :to="{name: 'ProductView', params: {product_id: product.product.id, category_id: ($route.params.company_id) ? $route.params.company_id : product.categories[0]['category_id']}}"
          >
            <img v-if="!product.hero_image" src="./../../assets/img/no_image.jpg" />
            <img v-if="product.hero_image" :src="product.hero_image.path" />
          </router-link>

          <div v-if="product.product.public == 1" class="news-card__promo-badge"><span>Модерация</span></div>
        </div>

      <div class="product-card__product-info">
        <!-- Название товара -->
        <div class="product-info__product-name">
          <router-link
            :title="product.name"
            :to="{name: 'ProductView', params: {product_id: product.product.id, category_id: ($route.params.company_id) ? $route.params.company_id : product.categories[0]['category_id']}}"
          >
            {{product.name}}
          </router-link>
        </div>

        <!-- Категория товара -->
        <div v-if="product.product.category && product.product.category.length" class="product-info__product-category">
          {{product.product.category.map(item => item.name).join(', ')}}
        </div>

        <!-- Информация о покупке -->
        <div class="product-info__product-buy">

          <product-action-bar
            :owner="product.owner"
            :product-id="product.product.id"
            :sku-id="product.id"
            :category-id="product.categories[0]['category_id']"
            v-on:remove="removeProduct()"
          ></product-action-bar>

          <!-- Цена товара и рейтинг -->
          <div class="product-buy__info">
            <!-- Цена если она указана -->
            <div v-if="product.price" class="info__price">
                {{product.price}} <i class="fa fa-rub" aria-hidden="true"></i>
            </div>
            <!-- Цена если она не указана -->
            <div v-if="!product.price" class="info__price">
              <i class="fa fa-rub" aria-hidden="true"></i>Бесплатно
            </div>
            <!-- Рейтинг -->
            <div class="info__star-rating b-star-rating"></div>
          </div>
        </div>

        <!-- Описание товара -->
        <div v-if="product.description" class="product-info__product-description" v-html="product.description">{{product.description}}</div>
      </div>

      <!-- Информация о продавце -->
      <div v-if="product.product.company" class="product-card__seller-info">
            <span class="seller-info__seller-name">
              <a href="">
                <img class="seller-info__seller-image" src="./../../assets/img/no_image.jpg" />{{product.product.company.name}}
              </a>
            </span>
        <span class="seller-info__contact-seller"><a href=""><img src="./../../assets/img/chat-icon.png" /></a></span>
      </div>

      </li>
</template>
<script src="./index.js"></script>
