<template>
  <div class="registration-page__content">
    <div id="register" class="b-registration-block animate">
      <h2 class="registration-block__title">Эффективная торговая площадка c элементами социальной сети</h2>

      <form-signup></form-signup>

      <div class="authorization-block__footer">
        <span>Уже зарегистрированы? <router-link class="registration-block__footer-link" :to="{name: 'Login'}">Войти</router-link></span>
      </div>
    </div>

    <br/>

    <div class="b-infographic infographic_left">
      <h1>Для покупателей</h1>
      <ul>
        <li class="">Оформи заявку</li>
        <li class="">Оплати покупку</li>
        <li class="">Получи заказ!</li>
      </ul>
    </div>
    <div class="b-infographic infographic_right">
      <h1>Для продавцов</h1>
      <ul>
        <li class="">Расскажи подробнее о магазине</li>
        <li class="">Загрузи товар</li>
        <li class="">Принимай заявки</li>
      </ul>
    </div>
    <div class="b-infographic infographic_central">
      <ul class="infographic__central-list">
        <li class=""><img src="./../../../../assets/img/no-ads-icon.png" /><span>Отсутствие рекламы</span></li>
        <li class=""><img src="./../../../../assets/img/chat.png" /><span>Общение на сайте</span></li>
        <li class=""><img src="./../../../../assets/img/monitor-icon.png" /><span>Удобно</span></li>
      </ul>
    </div>
  </div>
</template>
<script src="./index.js"></script>
