<template>
  <div id="component-input-property">
    <h4 class="properties-title">Свойства</h4>
    <div v-if="properties && properties.length" class="properties-list">
      <div v-for="(property, i) in properties" class="property-item">
        <label :for="property.code">{{property.name}}</label>
        <div class="property-content">
          <input-select
            v-if="property.multiply && property.field_type === 'select'"
            v-model="values[property.id]"
            :id="'select-' + property.id"
            :name="property.code"
            :required="property.require"
            :values="property.choices"
            value-code="code"
            value-label="name"
            v-on:change="change()"
          ></input-select>

          <input-file-multiple
            v-if="property.multiply && property.field_type === 'file'"
            v-model="values[property.id]"
            :required="property.require"
            :entity="property"
            v-on:change="change()"
            v-on:remove="removeFile"
          ></input-file-multiple>
        </div>
      </div>
    </div>

  </div>
</template>
<script src="./index.js"></script>
<style>
  #component-input-property .properties-title{
    margin: 10px 0px 5px 0px;
  }
  #component-input-property .properties-list{
    background: #fff;
    border: 1px solid #7d57c2;
    border-radius: 5px;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    max-height: 350px;
    overflow: scroll;
  }
  #component-input-property .properties-list .property-item{
    border-bottom: 1px solid #7d57c2;
    margin: 0px 0px 10px 0px;
  }
  #component-input-property .properties-list .property-item:last-child{
    border-bottom: 0px;
    margin: 0px;
  }
</style>
