<template>
  <div class="user-sidebar__primary-info">
    <div class="primary-info__user-picture">
      <a href="/user/photo">
        <img src="./../../assets/img/no_image.jpg" alt=""/>
      </a>
    </div>
    <div class="primary-info__user-name">
      <a href="/user" v-if="user.surname && user.name && user.middle_name">{{user.surname + ' ' + user.name + ' ' + user.middle_name}}</a>
      <a href="/user" v-if="!user.surname || !user.name || user.middle_name">Установите имя пользователя</a>
    </div>
  </div>
</template>
<script src="./index.js"></script>
