.input-file input{
  margin-bottom: 5px;
}
.input-file .preview-container{
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-file .preview-container .preview-item{
  max-width: 200px;
  max-height: 180px;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #7c57c2;
  margin: 0px 5px 5px 0px;
  position: relative;
}

.input-file .preview-container .preview-item .preview-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-file .preview-container .preview-item img{
  display: block;
  max-width: 90%;
  max-height: 90%;
}
.input-file .preview-container .preview-item .remove-btn{
  position: absolute;
  z-index: 999;
  background-color: #7c57c2;
  width: 12px;
  height: 12px;
  font-size: 12px;
  border-bottom-left-radius: 5px;
  padding: 2px 3px;
  font-weight: lighter;
  line-height: 12px;
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  right: 0px;
  top: 0px;
}
