<template>
  <div class="input-file">
    <input type="file" name="input-file" v-on:change="change">
    <ul v-if="preview && preview.length" class="preview-container">
      <li class="preview-item" v-for="file in preview">
        <a class="preview-link" :href="file.path" target="_blank" title="Открыть в полном размере">
          <img :src="file.path" :alt="file.name">
        </a>
        <a class="remove-btn" v-on:click="removeFile(file)">✕</a>
      </li>
    </ul>
  </div>
</template>
<script src="./index.js"></script>
