<template>
  <div v-if="resultValue" id="component-form-product-remnant">
    <p v-if="resultValue && !resultValue.length">У товара не указанно остатков</p>
    <div v-if="resultValue && resultValue.length" class="remnants-list">
      <div v-for="(item, i) in resultValue" class="remnant-item">
        <h4 class="remnant-item-label" v-on:click="toggle(i)">{{'Остаток N.' + (i + 1)}}</h4>
        <div v-show="item.show" class="remnant-item-content">

          <div v-if="sku" class="form-item">
            <label class="input-label" for="sku-id">Торговое предложение*</label>
            <div class="select-block">
              <select v-model="item.sku_id" name="sku_id" class="select-form" id="sku-id">
                <option v-for="skuItem in sku" :value="skuItem.id">{{skuItem.name}}</option>
              </select>
            </div>
            <span v-show="errors.has('sku_id')" class="help is-danger">{{ errors.first('sku_id') }}</span>
          </div>

          <div v-if="stocks" class="form-item">
            <label class="input-label" for="stock-id">Склад*</label>
            <div class="select-block">
              <select v-model="item.stock_id" name="stock_id" class="select-form" id="stock-id">
                <option v-for="stock in stocks" :value="stock.id">{{stock.name}}</option>
              </select>
            </div>
            <span v-show="errors.has('stock_id')" class="help is-danger">{{ errors.first('stock_id') }}</span>
          </div>

          <div class="form-item">
          <label class="input-label" for="amount">Количество*</label>
          <input v-model="item.amount" id="amount" class="input-form" type="number" name="amount" placeholder="0" required/>
          <span v-show="errors.has('amount')" class="help is-danger">{{ errors.first('amount') }}</span>
        </div>

          <div class="action-container">
            <a class="save-remnant" v-on:click="saveRemnant(item, i)">Сохранить</a>
            <a class="remove-remnant" v-on:click="removeRemnant(item, i)">Удалить</a>
          </div>

        </div>

      </div>
    </div>


    <a class="add-remnant" v-on:click="addRemnants()">Добавить остаток</a>
  </div>
</template>
<script src="./index.js"></script>
<style>
  #component-form-product-remnant .remnants-list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  #component-form-product-remnant .remnants-list .remnant-item-label{
    margin: 0px;
    cursor: pointer;
  }
  #component-form-product-remnant .remnants-list .remnant-item-content{
    border-top: 1px solid #7d57c2;
    padding-top: 10px;
    margin-top: 10px;
  }
  #component-form-product-remnant .remnants-list .remnant-item{
    width: 100%;
    margin: 0px 0px 10px 0px;
    border: 1px solid #7d57c2;
    border-radius: 5px;
    padding: 10px;
  }

  #component-form-product-remnant .add-remnant,
  #component-form-product-remnant .save-remnant,
  #component-form-product-remnant .remove-remnant{
    font-size: 13px;
    background-color: #7d57c2;
    border: 1px solid #7d57c2;
    color: #fff;
    border-radius: 5px;
    display: table;
    padding: 8px 14px;
    cursor: pointer;
  }
  #component-form-product-remnant .remove-remnant{
    background-color: #fff;
    color: #7d57c2;
    margin-left: 10px;
  }
  #component-form-product-remnant .action-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  @media (min-width: 768px) {
    #component-form-product-remnant .remnants-list .remnant-item{
      width: calc(50% - 30px);
    }
  }

</style>
