<template>
  <div class="main-headline__search">
    <form role="search" class="b-search-form" method="GET" action="/search/">
      <input
        id="search"
        type="text"
        class="search-form__input-aria"
        name="q"
        value=""
        placeholder="Я ищу"
      >
      <button type="submit" class="search-form__search-submit">
        <img class="" src="./../../assets/img/search-icon.png"/>
      </button>
    </form>
  </div>
</template>

<script src="./index.js"></script>
<style></style>
