<template>
  <form class="remind-password__form" action="#" method="POST" v-on:submit="submit">
    <label class="input-label">Почта</label>
    <input
      v-model="from.email"
      id="email"
      class="input-form"
      name="email"
      type="text"
      autocomplete=""
      autofocus
      required
      v-validate="rules.email"
    />
    <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>

    <div class="remind-password__button">
      <button class="button" name="action" value="remind" type="submit">Выслать пароль</button>
    </div>
  </form>
</template>
<script src="./index.js"></script>
