<template>
  <div class="b-sidebar user-page__user-sidebar">
    <user-page-user-info></user-page-user-info>

    <div class="user-sidebar__action-buttons">
      <router-link :to="{name: 'ProductAdd', params: {product_id: 'new'}}">
        <button class="user-sidebar-button button button_bordered-light">Добавить товар</button>
      </router-link>
    </div>

  </div>
</template>
<script src="./index.js"></script>
