<template>
  <div>
      <form action="#" method="POST" v-on:submit="submit">
          <label class="authorization-block__input-label input-label">Почта</label>
          <input
            v-model="from.email"
            id="email"
            class="authorization-block__input-form input-form"
            name="email"
            type="text"
            autocomplete=""
            autofocus
            required
            v-validate="rules.email"
          />
          <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>

          <label class="authorization-block__input-label input-label">Пароль</label>
          <input
            v-model="from.password"
            id="password"
            class="authorization-block__input-form input-form"
            name="password"
            type="password"
            autocomplete=""
            required
            v-validate="rules.password"
          />
          <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>

          <button
            class="button authorization-block__login"
            value="auth"
            name="action"
            type="submit"
          >Войти</button>
      </form>
      <router-link :to="{name: 'Remind'}" class="authorization-block__link">Забыли пароль?</router-link>
      <router-link :to="{name: 'Signup'}" class="authorization-block__link">Регистрация</router-link>
  </div>
</template>
<script src="./index.js"></script>
