<template>
  <div :class="'checkout-product__amount ' + (loading ? 'loading' : '' )">
    <div class="checkout-product__label">Количество</div>
    <div class="checkout-product__value">
      <span class="checkout-product__button js-input-qty-dec" @click="changeSKUAmount((parseInt(amountValue)-1))"><i class="fa fa-minus" aria-hidden="true"></i></span>
      <input class="checkout-product__input js-input-qty" v-model="amountValue" disabled />
      <span class="checkout-product__button js-input-qty-inc" @click="changeSKUAmount((parseInt(amountValue)+1))"><i class="fa fa-plus" aria-hidden="true"></i></span>
    </div>
  </div>
</template>
<script src="./index.js"></script>
<style>
  .checkout-product__amount.loading{
    opacity: 0.5;
  }
</style>
