<template>
  <div class="b-breadcrumbs">
    <ul class="breadcrumbs__list" v-if="breadcrumbs.length">
      <li v-for="item in breadcrumbs" class="breadcrumbs__link">
        <router-link
          v-if="item.route"
          :to="{name: item.route, params: (item.params) ? item.params : {} }"
        >{{item.alias}}</router-link>
        <span v-if="!item.route">{{item.alias}}</span>
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </li>
    </ul>
  </div>
</template>
<script src="./index.js"></script>
