<template>
  <div class="events-page__event js-event">
    <div class="events-page__event-label">
      <span class="event-label__event-type">Добавлена новость</span>
      <span class="event-label__event-date"></span>
    </div>
    <div class="news-blocks__news-card b-news-card grey-rounded-border js-open-news list-view">
      <div class="news-card__image">
        <img v-if="!news.entity || !news.entity.hero_image" src="./../../assets/img/no_image.jpg" />
        <img v-if="news.entity && news.entity.hero_image" :src="news.entity.hero_image.path" />
      </div>

      <div class="news-card__info">
        <div class="info__headline">{{news.entity.title}}</div>
        <div class="info__content">{{news.entity.content}}</div>
        <div v-if="news.entity.updated_at" class="info__posted-date">
          <img src="./../../assets/img/clock.png"/>
          <span>от {{  moment(news.entity.updated_at).format("HH:mm DD.MM.YYYY")}}</span>
        </div>
      </div>
      <div class="news-card__logo-badge">
        <img src="./../../assets/img/no_image.jpg" />
      </div>

      <div v-if="news.entity.moderate == 0" class="news-card__news-badge" style="background-color: gray;">
        <span>Снята с публикации</span>
      </div>
      <div v-if="news.entity.moderate == 1" class="news-card__news-badge">
        <span>Опубликована</span>
      </div>
      <div v-if="news.entity.moderate == 2" class="news-card__news-badge" style="background-color: red;">
        <span>На модерации</span>
      </div>
      <div v-if="news.entity.moderate == 3" class="news-card__news-badge">
        <span>Отклонена модератором</span>
      </div>

    </div>
  </div>
</template>
<script src="./index.js"></script>
