<template>
  <div id="snackbar" class="alert alert_attention alert-notify alert-log" v-show="snackbar.show">
    {{snackbar.message}}
    <a class="alert-close" v-on:click="hideSnackBar()"><i class="fa fa-times" aria-hidden="true"></i></a>
  </div>
</template>
<script src="./index.js"></script>
<style>
  #snackbar {
    position: fixed;
    margin: 0px;
    z-index: 9999;
    top: 20px;
    width: 250px;
    right: 20px;
  }
</style>
