<template>
    <button
      class="action-buttons__to-cart action-button js-add-to-cart"
      data-tooltip="Добавить в корзину"
      v-on:click="addToCart()"
    >
      <img src="./../../assets/img/to-cart.png"/>
    </button>
</template>
<script src="./index.js"></script>
