<template>
  <div class="b-catalog-page page-content limited-width clearfix">
    <div>
      <!-- Хлебные крошки -->
      <breadcrumbs ref="breadcrumbs"></breadcrumbs>

      <!-- Настройки отбражения списока товаров -->
      <product-list-settings v-on:change="filterProducts()"></product-list-settings>

      <!-- Фильтр товаров -->
      <product-list-filter ref="filter" v-on:filter="filterProducts()"></product-list-filter>


      <!-- Список товаров -->
      <div class="b-main-section">
        <ul class="products-gallery__products-list">
          <product-item v-if="products && products.length" v-for="product in products" :product="product" :key="product.id" :viewType="viewType"></product-item>
        </ul>

        <!-- Пагинатор -->
        <paginate
          v-if="total > per_page"
          :page-count="lastPage"
          :initial-page="current_page"
          :click-handler="paginatorAction"
          :prev-text="'Назад'"
          :next-text="'Вперёд'"
          :container-class="'pagination'"
          :page-class="'page-item'"
        ></paginate>
      </div>
    </div>
  </div>
</template>
<script src="./index.js"></script>
