<template>
  <div id="app">
    <b-header></b-header>
    <router-view></router-view>
    <snack-bar></snack-bar>
    <alert-small-cart></alert-small-cart>
  </div>
</template>

<script>
  import BHeader  from './components/b-header/index.vue';
  import SnackBar from './components/snackbar/index.vue';
  import AlertSmallCart from './components/alert-small-cart/index.vue';

  export default {
    components: {
      BHeader,
      SnackBar,
      AlertSmallCart
    },
    computed: {},
    name: 'app',
    created: function () {},
    data () {
      return {}
    }
  }
</script>

<style></style>
