<template>
  <header class="b-header">
    <div class="header__top-bar">
      <div class="top-bar__content limited-width">
            <span class="top-bar__location">
              <a id="js-region" href="#">
                <img class="top-bar__location-pin" src="./../../assets/img/location-pin.png"/>
                {{ (location.city && location.city.name_ru) ? location.city.name_ru : 'Хабаровск' }}
              </a>
            </span>
        <span class="top-bar__phone-number" v-if="moduleSettings">
          <a :href="'tel:' + moduleSettings.header_phone.value">{{moduleSettings.header_phone.value}}</a>
        </span>
        <span class="top-bar__help" v-if="moduleSettings">
          <a :href="moduleSettings.help_link.value">Помощь</a>
        </span>
      </div>
    </div>

    <div class="header__main-headline limited-width">
      <div class="main-headline__logo">
        <a href="/" title="iGID24 — торговая площадка">
          <img src="./../../assets/img/logo-dark.png" alt="iGID24" title="iGID24"/>
        </a>
      </div>

      <small-search></small-search>
      <div class="main-headline__add-product">
          <router-link :to="{name: 'ProductAdd', params: {product_id: 'new'}}" class="button button_bordered-light">Добавить свой товар</router-link>
      </div>
      <small-user-dropdown></small-user-dropdown>
      <small-cart></small-cart>
    </div>

    <header-category-menu></header-category-menu>

  </header>
</template>

<script src="./index.js"></script>
<style></style>
