<template>
  <div class="main-headline__shopping-cart">
    <router-link :to="{name: 'Cart'}">
      <img class="shopping-cart__icon" src="./../../assets/img/cart-icon.png"/>
      <span id="js-cart-total-count" class="shopping-cart__count-badge count-badge">
        {{(productInCart && productInCart.products) ? productInCart.products.length : 0}}
      </span>
      <span class="shopping-cart__title">Корзина</span>
    </router-link>
  </div>
</template>
<script src="./index.js"></script>
