<template>
  <div class="form-item">
    <label v-if="label" class="input-label" :for="id">{{label}} {{(required) ? '*' : ''}}</label>
    <div class="select-block">
      <select v-model="inputValue" :name="name" class="select-form" :id="id">
        <option v-for="item in values" :value="item[valueCode]" :selected="item[valueCode] === inputValue">{{item[valueLabel]}}</option>
      </select>
    </div>
    <span v-if="error" class="help is-danger">{{error}}</span>
  </div>
</template>
<script src="./index.js"></script>
